#DAC pin mappings
NET SCL_DC1			LOC = "H13" | IOSTANDARD = LVCMOS33; #DAC1 on SCROD schematic
NET SDA_DC1			LOC = "F14" | IOSTANDARD = LVCMOS33; #DAC2 on SCROD schematic

# IMPORTANT common-to-all-ASIC signals
net "ASIC_trigger_sign" loc = "ae25";

#BLAB3A pin mappings
#These are for daughter card 1...
NET ASIC_CH_SEL<2> 	 LOC = "AC22";
NET ASIC_CH_SEL<1> 	 LOC = "V18";
NET ASIC_CH_SEL<0> 	 LOC = "W19";
NET ASIC_RD_ADDR<9> 	 LOC = "AA25";  #Column Select 5  AA25
NET ASIC_RD_ADDR<8> 	 LOC = "AB26";  #Column Select 4  AB26
NET ASIC_RD_ADDR<7> 	 LOC = "AC26";  #Column Select 3  AC26
NET ASIC_RD_ADDR<6> 	 LOC = "AE26";  #Column Select 2  AE26
NET ASIC_RD_ADDR<5> 	 LOC = "AA26";  #Column Select 1  AA26
NET ASIC_RD_ADDR<4> 	 LOC = "AC25";  #Column Select 0  AC25
NET ASIC_RD_ADDR<3> 	 LOC = "AA17";  #Row Select 3     AA17
NET ASIC_RD_ADDR<2> 	 LOC = "V16";   #Row Select 2     V16
NET ASIC_RD_ADDR<1> 	 LOC = "AB19";  #Row Select 1     AB19
NET ASIC_RD_ADDR<0> 	 LOC = "Y16";   #Row Select 0     Y16
NET ASIC_SMPL_SEL<5>	 LOC = "V26";
NET ASIC_SMPL_SEL<4>	 LOC = "U23";
NET ASIC_SMPL_SEL<3>	 LOC = "R25";
NET ASIC_SMPL_SEL<2>	 LOC = "P26";
NET ASIC_SMPL_SEL<1>	 LOC = "AA22";
NET ASIC_SMPL_SEL<0>	 LOC = "Y20";
NET ASIC_SMPL_SEL_ALL LOC = "W18";
NET ASIC_RD_ENA	 	 LOC = "AB21";
NET ASIC_RAMP	 	 	 LOC = "U13";
NET ASIC_DAT<11>	    LOC = "AD1";
NET ASIC_DAT<10>	    LOC = "AC2";
NET ASIC_DAT<9>	    LOC = "AC1";
NET ASIC_DAT<8>	    LOC = "AB1";
NET ASIC_DAT<7>	    LOC = "AA2";
NET ASIC_DAT<6>	    LOC = "AA1";
NET ASIC_DAT<5>	    LOC = "Y1";
NET ASIC_DAT<4>	    LOC = "W2";
NET ASIC_DAT<3>	    LOC = "W1";
NET ASIC_DAT<2>	    LOC = "V1";
NET ASIC_DAT<1>	    LOC = "U2";
NET ASIC_DAT<0>	    LOC = "U1";
NET ASIC_TDC_START    LOC = "AA12";
NET ASIC_TDC_CLR	    LOC = "W25";
NET ASIC_WR_STRB	    LOC = "AA9" | SLOW;
NET ASIC_WR_ADDR<9>   LOC = "AD26"; #Column Select 5  AD26
NET ASIC_WR_ADDR<8>   LOC = "R26";  #Column Select 4  R26
NET ASIC_WR_ADDR<7>   LOC = "T26";  #Column Select 3  T26
NET ASIC_WR_ADDR<6>   LOC = "U24";  #Column Select 2  U24
NET ASIC_WR_ADDR<5>   LOC = "W26";  #Column Select 1  W26
NET ASIC_WR_ADDR<4>   LOC = "Y26";  #Column Select 0  Y26
NET ASIC_WR_ADDR<3>   LOC = "V15";  #Row Select 3     V15
NET ASIC_WR_ADDR<0>   LOC = "AB15"; #Row Select 2     AB15  #Swapped w/ 0 in UCF to reflect this as the ACTUAL least significant bit in the ASIC
NET ASIC_WR_ADDR<1>   LOC = "P17";  #Row Select 1     P17
NET ASIC_WR_ADDR<2>   LOC = "W14";  #Row Select 0     W14   #Swapped w/ 2 in UCF to reflcet this as NOT the least significant bit in the ASIC
NET ASIC_TRIGGER<7>   LOC = "G1";
NET ASIC_TRIGGER<6>   LOC = "Y12";
NET ASIC_TRIGGER<5>   LOC = "AA11";
NET ASIC_TRIGGER<4>   LOC = "W10";
NET ASIC_TRIGGER<3>   LOC = "AB7";
NET ASIC_TRIGGER<2>   LOC = "AA7";
NET ASIC_TRIGGER<1>   LOC = "D1";
NET ASIC_TRIGGER<0>   LOC = "F1";
NET ASIC_SSP_IN	    LOC = "AD4" | SLOW;
NET ASIC_SST_IN	    LOC = "W8" | SLOW;
NET ASIC_SSP_OUT		 LOC = "AC5";
NET ASIC_DC1_DISABLE   LOC = "P1";

NET ASIC_CARRIER1_CAL_OUT LOC = "AA15";

#Using on-board 250 MHz oscillator
NET CLOCK_4NS_P	LOC = "U25" | IOSTANDARD = LVDS_25;
NET CLOCK_4NS_N	LOC = "U26" | IOSTANDARD = LVDS_25;

#DIAGNOSTIC PINS (LEDS, MONITOR HEADER, etc.)
NET LEDS<0>		LOC = "f18"  | IOSTANDARD = LVCMOS33;
NET LEDS<1>		LOC = "e18"  | IOSTANDARD = LVCMOS33;
NET LEDS<2>		LOC = "g16"  | IOSTANDARD = LVCMOS33;
NET LEDS<3>		LOC = "f17"  | IOSTANDARD = LVCMOS33;
NET LEDS<4>		LOC = "f20"  | IOSTANDARD = LVCMOS33;
NET LEDS<5>		LOC = "e20"  | IOSTANDARD = LVCMOS33;
NET LEDS<6>		LOC = "h17"  | IOSTANDARD = LVCMOS33;
NET LEDS<7>		LOC = "g17"  | IOSTANDARD = LVCMOS33;
NET LEDS<8>		LOC = "c21"  | IOSTANDARD = LVCMOS33;
NET LEDS<9>		LOC = "b21"  | IOSTANDARD = LVCMOS33;
NET LEDS<10>	LOC = "h18"  | IOSTANDARD = LVCMOS33;
NET LEDS<11>	LOC = "h19"  | IOSTANDARD = LVCMOS33;
NET LEDS<12>	LOC = "b22"  | IOSTANDARD = LVCMOS33;
NET LEDS<13>	LOC = "a22"  | IOSTANDARD = LVCMOS33;
NET LEDS<14>	LOC = "g19"  | IOSTANDARD = LVCMOS33;
NET LEDS<15>	LOC = "f19"  | IOSTANDARD = LVCMOS33;
NET MONITOR<0>		LOC = "L26" | IOSTANDARD = LVCMOS25;
NET MONITOR<1>		LOC = "K26" | IOSTANDARD = LVCMOS25;
NET MONITOR<2>		LOC = "J25" | IOSTANDARD = LVCMOS25;
NET MONITOR<3>		LOC = "J26" | IOSTANDARD = LVCMOS25;
NET MONITOR<4>		LOC = "H26" | IOSTANDARD = LVCMOS25;
NET MONITOR<5>		LOC = "G25" | IOSTANDARD = LVCMOS25;
NET MONITOR<6>		LOC = "G26" | IOSTANDARD = LVCMOS25;
NET MONITOR<7>		LOC = "F26" | IOSTANDARD = LVCMOS25;
NET MONITOR<8>		LOC = "E25" | IOSTANDARD = LVCMOS25;
NET MONITOR<9>		LOC = "E26" | IOSTANDARD = LVCMOS25;
NET MONITOR<10>	LOC = "D26" | IOSTANDARD = LVCMOS25;
NET MONITOR<11>	LOC = "C25" | IOSTANDARD = LVCMOS25;
NET MONITOR<12>	LOC = "C26" | IOSTANDARD = LVCMOS25;
NET MONITOR<13>	LOC = "B25" | IOSTANDARD = LVCMOS25;
NET MONITOR<14>	LOC = "B26" | IOSTANDARD = LVCMOS25;
NET MONITOR<15>	LOC = "A25" | IOSTANDARD = LVCMOS25;

#USB Pins
NET IFCLK      	LOC = "g12"  | IOSTANDARD = LVCMOS33  |  CLOCK_DEDICATED_ROUTE = FALSE;
NET CLKOUT     	LOC = "e10"  | IOSTANDARD = LVCMOS33;
NET FD<0>			LOC = "f5"   | IOSTANDARD = LVCMOS33;
NET FD<1>			LOC = "e6"   | IOSTANDARD = LVCMOS33;
NET FD<2>			LOC = "e5"   | IOSTANDARD = LVCMOS33;
NET FD<3>			LOC = "h9"   | IOSTANDARD = LVCMOS33;
NET FD<4>			LOC = "g9"   | IOSTANDARD = LVCMOS33;
NET FD<5>			LOC = "a3"   | IOSTANDARD = LVCMOS33;
NET FD<6>			LOC = "a2"   | IOSTANDARD = LVCMOS33;
NET FD<7>			LOC = "f9"   | IOSTANDARD = LVCMOS33;
NET FD<8>			LOC = "e8"   | IOSTANDARD = LVCMOS33;
NET FD<9>			LOC = "d5"   | IOSTANDARD = LVCMOS33;
NET FD<10>			LOC = "c5"   | IOSTANDARD = LVCMOS33;
NET FD<11>			LOC = "h10"  | IOSTANDARD = LVCMOS33;
NET FD<12>			LOC = "g10"  | IOSTANDARD = LVCMOS33;
NET FD<13>			LOC = "b4"   | IOSTANDARD = LVCMOS33;
NET FD<14>			LOC = "a4"   | IOSTANDARD = LVCMOS33;
NET FD<15>			LOC = "f10"  | IOSTANDARD = LVCMOS33;
NET PA0        	LOC = "f7"   | IOSTANDARD = LVCMOS33;
NET PA1        	LOC = "h8"   | IOSTANDARD = LVCMOS33;
NET PA2        	LOC = "g8"   | IOSTANDARD = LVCMOS33;
NET PA3        	LOC = "f7"   | IOSTANDARD = LVCMOS33;
NET PA4        	LOC = "f6"   | IOSTANDARD = LVCMOS33;
NET PA5        	LOC = "c3"   | IOSTANDARD = LVCMOS33;
NET PA6        	LOC = "b3"   | IOSTANDARD = LVCMOS33;
NET PA7        	LOC = "g6"   | IOSTANDARD = LVCMOS33;
NET CTL0       	LOC = "f12"  | IOSTANDARD = LVCMOS33;
NET CTL1       	LOC = "e12"  | IOSTANDARD = LVCMOS33;
NET CTL2       	LOC = "j11"  | IOSTANDARD = LVCMOS33;
NET RDY0       	LOC = "g11"  | IOSTANDARD = LVCMOS33;
NET RDY1       	LOC = "h12"  | IOSTANDARD = LVCMOS33;
NET WAKEUP     	LOC = "f11"  | IOSTANDARD = LVCMOS33;

#Timing constraints
#NET "internal_CLOCK_62p5MHz" TNM_NET = Txinternal_CLOCK_62p5MHz;
#TIMESPEC TSxinternal_CLOCK_62p5MHz = PERIOD "Txinternal_CLOCK_62p5MHz" 16.000 ns HIGH 50%;

NET "internal_CLOCK_4NS" TNM_NET = "internal_CLOCK_4NS";
TIMESPEC "TS_internal_CLOCK_4NS" = PERIOD "internal_CLOCK_4NS" 4.0 ns HIGH 50% INPUT_JITTER 20.0ps;