# UCF generated for xc6slx150t-fgg676-3 device by some stupid Xilinx tool that thinks this kind of shit is copyrightable
# modified 2011-06 by kurtis
# modified 2011-07 by mza
#################################################################################

# 156.25MHz GTP Reference clock contraint
NET "GTPD2_left_i" TNM_NET = GT_REFCLK;
TIMESPEC TS_GTPD2_LEFT_I = PERIOD "GT_REFCLK" 156.25 MHz HIGH 50%;

# User Clock Contraint: Value is selected based on the line rate (3.125 Gbps) and lane width (4-Byte)
NET "user_clk_i" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK_I = PERIOD "USER_CLK" 12.8 ns HIGH 50%;

# Sync Clock Contraint: Value is selected based on the line rate (3.125 Gbps) and lane width (4-Byte)
NET "sync_clk_i" TNM_NET = SYNC_CLK;
TIMESPEC TS_SYNC_CLK_I = PERIOD "SYNC_CLK" 3.2 ns HIGH 50%;

# GT REFCLK = 156.25 MHz
NET GTPD2_P LOC = B10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET GTPD2_N LOC = A10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

# remote trigger, revolution pulse and distributed clock:
NET REMOTE_SIMPLE_TRIGGER_P LOC = AE15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE; # RSV+ on schematic
NET REMOTE_SIMPLE_TRIGGER_N LOC = AF15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE; # RSV- on schematic
NET REMOTE_ENCODED_TRIGGER_P LOC = AB14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE; # TRG+ on schematic
NET REMOTE_ENCODED_TRIGGER_N LOC = AC14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE; # TRG- on schematic
NET REMOTE_CLOCK_P LOC = AE13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE; # RCLK+ on schematic
NET REMOTE_CLOCK_N LOC = AF13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE; # RCLK- on schematic
NET board_clock_250MHz_P LOC = U25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET board_clock_250MHz_N LOC = U26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
# | CLOCK_DEDICATED_ROUTE = FALSE

NET LEDS<0>		LOC = "f18"  | IOSTANDARD = LVCMOS33;
NET LEDS<1>		LOC = "e18"  | IOSTANDARD = LVCMOS33;
NET LEDS<2>		LOC = "g16"  | IOSTANDARD = LVCMOS33;
NET LEDS<3>		LOC = "f17"  | IOSTANDARD = LVCMOS33;
NET LEDS<4>		LOC = "f20"  | IOSTANDARD = LVCMOS33;
NET LEDS<5>		LOC = "e20"  | IOSTANDARD = LVCMOS33;
NET LEDS<6>		LOC = "h17"  | IOSTANDARD = LVCMOS33;
NET LEDS<7>		LOC = "g17"  | IOSTANDARD = LVCMOS33;
NET LEDS<8>		LOC = "c21"  | IOSTANDARD = LVCMOS33;
NET LEDS<9>		LOC = "b21"  | IOSTANDARD = LVCMOS33;
NET LEDS<10>	LOC = "h18"  | IOSTANDARD = LVCMOS33;
NET LEDS<11>	LOC = "h19"  | IOSTANDARD = LVCMOS33;
NET LEDS<12>	LOC = "b22"  | IOSTANDARD = LVCMOS33;
NET LEDS<13>	LOC = "a22"  | IOSTANDARD = LVCMOS33;
NET LEDS<14>	LOC = "g19"  | IOSTANDARD = LVCMOS33;
NET LEDS<15>	LOC = "f19"  | IOSTANDARD = LVCMOS33;

NET MONITOR_HEADER_OUTPUT<0>  LOC = "L26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<1>  LOC = "K26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<2>  LOC = "J25" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<3>  LOC = "J26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<4>  LOC = "H26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<5>  LOC = "G25" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<6>  LOC = "G26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<7>  LOC = "F26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<8>  LOC = "E25" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<9>  LOC = "E26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<10> LOC = "D26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<11> LOC = "C25" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<12> LOC = "C26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<13> LOC = "B25" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_OUTPUT<14> LOC = "B26" | IOSTANDARD = LVCMOS25;
NET MONITOR_HEADER_INPUT<15>  LOC = "A25" | IOSTANDARD = LVCMOS25;

# fiber optic transceiver 0
NET FIBER_TRANSCEIVER_0_DISABLE_MODULE LOC = "E14"  | IOSTANDARD = LVCMOS33;
NET FIBER_TRANSCEIVER_0_LASER_FAULT_DETECTED_IN_TRANSMITTER LOC = "g13" | IOSTANDARD = LVCMOS33;
NET FIBER_TRANSCEIVER_0_LOSS_OF_SIGNAL_DETECTED_BY_RECEIVER LOC = "b5" | IOSTANDARD = LVCMOS33;
NET RXP	LOC=D7;
NET RXN	LOC=C7;
NET TXP	LOC=B6;
NET TXN	LOC=A6;

# fiber optic transceiver 1
NET FIBER_TRANSCEIVER_1_DISABLE_MODULE LOC=B14  | IOSTANDARD = LVCMOS33;

#The following line should be removed once the core is working.
#user_clk toggling means that the transceiver initialized correctly.
#PIN "clock_module_i/user_clk_net_i.O" CLOCK_DEDICATED_ROUTE = FALSE;

# 50MHz board Clock Constraint  
#NET "reset_logic_i/init_clk_i" TNM_NET = INIT_CLK;
#TIMESPEC TS_INIT_CLK = PERIOD "INIT_CLK" 20 ns HIGH 50%;

###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG1" = FROM "INIT_CLK" TO "USER_CLK" TIG; 
INST aurora_module_i/gtp_wrapper_i/gtp_tile_inst/gtpa1_dual_i LOC=GTPA1_DUAL_X0Y1;
