#Using on-board 250 MHz oscillator
NET CLOCK_4NS_P	LOC = "U25" | IOSTANDARD = LVDS_25;
NET CLOCK_4NS_N	LOC = "U26" | IOSTANDARD = LVDS_25;

NET	SCROD_SIGNAL<0>	LOC =	P1;		# J1_006_P1
NET	SCROD_SIGNAL<1>	LOC =	R1;		# J1_007_R1
NET	SCROD_SIGNAL<2>	LOC =	R2;		# J1_008_R2
NET	SCROD_SIGNAL<3>	LOC =	T1;		# J1_010_T1
NET	SCROD_SIGNAL<4>	LOC =	U1;		# J1_011_U1
NET	SCROD_SIGNAL<5>	LOC =	U2;		# J1_012_U2
NET	SCROD_SIGNAL<6>	LOC =	V1;		# J1_014_V1
NET	SCROD_SIGNAL<7>	LOC =	W1;		# J1_015_W1
NET	SCROD_SIGNAL<8>	LOC =	W2;		# J1_016_W2
NET	SCROD_SIGNAL<9>	LOC =	Y1;		# J1_018_Y1
NET	SCROD_SIGNAL<10>	LOC =	AA1;		# J1_019_AA1
NET	SCROD_SIGNAL<11>	LOC =	AA2;		# J1_020_AA2
NET	SCROD_SIGNAL<12>	LOC =	AB1;		# J1_022_AB1
NET	SCROD_SIGNAL<13>	LOC =	AC1;		# J1_023_AC1
NET	SCROD_SIGNAL<14>	LOC =	AC2;		# J1_024_AC2
NET	SCROD_SIGNAL<15>	LOC =	AD1;		# J1_026_AD1
NET	SCROD_SIGNAL<16>	LOC =	AE1;		# J1_027_AE1
NET	SCROD_SIGNAL<17>	LOC =	AE2;		# J1_028_AE2
NET	SCROD_SIGNAL<18>	LOC =	D3;		# J1_030_D3
NET	SCROD_SIGNAL<19>	LOC =	E4;		# J1_031_E4
NET	SCROD_SIGNAL<20>	LOC =	G3;		# J1_032_G3
NET	SCROD_SIGNAL<21>	LOC =	H3;		# J1_034_H3
NET	SCROD_SIGNAL<22>	LOC =	J3;		# J1_035_J3
NET	SCROD_SIGNAL<23>	LOC =	J5;		# J1_036_J5
NET	SCROD_SIGNAL<24>	LOC =	K5;		# J1_038_K5
NET	SCROD_SIGNAL<25>	LOC =	L4;		# J1_039_L4
NET	SCROD_SIGNAL<26>	LOC =	M4;		# J1_040_M4
NET	SCROD_SIGNAL<27>	LOC =	N4;		# J1_042_N4
NET	SCROD_SIGNAL<28>	LOC =	P3;		# J1_043_P3
NET	SCROD_SIGNAL<29>	LOC =	R3;		# J1_044_R3
NET	SCROD_SIGNAL<30>	LOC =	R5;		# J1_046_R5
NET	SCROD_SIGNAL<31>	LOC =	T4;		# J1_047_T4
NET	SCROD_SIGNAL<32>	LOC =	U4;		# J1_048_U4
NET	SCROD_SIGNAL<33>	LOC =	V3;		# J1_050_V3
NET	SCROD_SIGNAL<34>	LOC =	V5;		# J1_051_V5
NET	SCROD_SIGNAL<35>	LOC =	W5;		# J1_052_W5
NET	SCROD_SIGNAL<36>	LOC =	Y5;		# J1_054_Y5
NET	SCROD_SIGNAL<37>	LOC =	AA4;		# J1_055_AA4
NET	SCROD_SIGNAL<38>	LOC =	AB4;		# J1_056_AB4
NET	SCROD_SIGNAL<39>	LOC =	AC3;		# J1_058_AC3
NET	SCROD_SIGNAL<40>	LOC =	AD3;		# J1_059_AD3
NET	SCROD_SIGNAL<41>	LOC =	AC4;		# J1_062_AC4
NET	SCROD_SIGNAL<42>	LOC =	AB5;		# J1_063_AB5
NET	SCROD_SIGNAL<43>	LOC =	AB3;		# J1_065_AB3
NET	SCROD_SIGNAL<44>	LOC =	AA3;		# J1_066_AA3
NET	SCROD_SIGNAL<45>	LOC =	Y3;		# J1_067_Y3
NET	SCROD_SIGNAL<46>	LOC =	W3;		# J1_069_W3
NET	SCROD_SIGNAL<47>	LOC =	V4;		# J1_070_V4
NET	SCROD_SIGNAL<48>	LOC =	U5;		# J1_071_U5
NET	SCROD_SIGNAL<49>	LOC =	U3;		# J1_073_U3
NET	SCROD_SIGNAL<50>	LOC =	T3;		# J1_074_T3
NET	SCROD_SIGNAL<51>	LOC =	R4;		# J1_075_R4
NET	SCROD_SIGNAL<52>	LOC =	P5;		# J1_077_P5
NET	SCROD_SIGNAL<53>	LOC =	N5;		# J1_078_N5
NET	SCROD_SIGNAL<54>	LOC =	N3;		# J1_079_N3
NET	SCROD_SIGNAL<55>	LOC =	M3;		# J1_081_M3
NET	SCROD_SIGNAL<56>	LOC =	L3;		# J1_082_L3
NET	SCROD_SIGNAL<57>	LOC =	K3;		# J1_083_K3
NET	SCROD_SIGNAL<58>	LOC =	J4;		# J1_085_J4
NET	SCROD_SIGNAL<59>	LOC =	H5;		# J1_086_H5
NET	SCROD_SIGNAL<60>	LOC =	G4;		# J1_087_G4
NET	SCROD_SIGNAL<61>	LOC =	F3;		# J1_089_F3
NET	SCROD_SIGNAL<62>	LOC =	E3;		# J1_090_E3
NET	SCROD_SIGNAL<63>	LOC =	N2;		# J1_091_N2
NET	SCROD_SIGNAL<64>	LOC =	N1;		# J1_093_N1
NET	SCROD_SIGNAL<65>	LOC =	M1;		# J1_094_M1
NET	SCROD_SIGNAL<66>	LOC =	L2;		# J1_095_L2
NET	SCROD_SIGNAL<67>	LOC =	L1;		# J1_097_L1
NET	SCROD_SIGNAL<68>	LOC =	K1;		# J1_098_K1
NET	SCROD_SIGNAL<69>	LOC =	J2;		# J1_099_J2
NET	SCROD_SIGNAL<70>	LOC =	J1;		# J1_101_J1
NET	SCROD_SIGNAL<71>	LOC =	H1;		# J1_102_H1
NET	SCROD_SIGNAL<72>	LOC =	G2;		# J1_103_G2
NET	SCROD_SIGNAL<73>	LOC =	G1;		# J1_105_G1
NET	SCROD_SIGNAL<74>	LOC =	B1;		# J1_106_B1
NET	SCROD_SIGNAL<75>	LOC =	E2;		# J1_107_E2
NET	SCROD_SIGNAL<76>	LOC =	B2;		# J1_109_B2
NET	SCROD_SIGNAL<77>	LOC =	D1;		# J1_110_D1
NET	SCROD_SIGNAL<78>	LOC =	C2;		# J1_111_C2
NET	SCROD_SIGNAL<79>	LOC =	C1;		# J1_113_C1
NET	SCROD_SIGNAL<80>	LOC =	E1;		# J1_114_E1
NET	SCROD_SIGNAL<81>	LOC =	F1;		# J1_115_F1
NET	SCROD_SIGNAL<82>	LOC =	AD4;		# J2_003_AD4
NET	SCROD_SIGNAL<83>	LOC =	W8;		# J2_004_W8
NET	SCROD_SIGNAL<84>	LOC =	AC5;		# J2_005_AC5
NET	SCROD_SIGNAL<85>	LOC =	AF3;		# J2_007_AF3
NET	SCROD_SIGNAL<86>	LOC =	AF4;		# J2_008_AF4
NET	SCROD_SIGNAL<87>	LOC =	AF5;		# J2_009_AF5
NET	SCROD_SIGNAL<88>	LOC =	AE5;		# J2_011_AE5
NET	SCROD_SIGNAL<89>	LOC =	AF6;		# J2_012_AF6
NET	SCROD_SIGNAL<90>	LOC =	AD6;		# J2_013_AD6
NET	SCROD_SIGNAL<91>	LOC =	AA10;		# J2_015_AA10
NET	SCROD_SIGNAL<92>	LOC =	AA9;		# J2_016_AA9
NET	SCROD_SIGNAL<93>	LOC =	V11;		# J2_017_V11
NET	SCROD_SIGNAL<94>	LOC =	Y11;		# J2_019_Y11
NET	SCROD_SIGNAL<95>	LOC =	AB13;		# J2_020_AB13
NET	SCROD_SIGNAL<96>	LOC =	V12;		# J2_021_V12
NET	SCROD_SIGNAL<97>	LOC =	AA12;		# J2_023_AA12
NET	SCROD_SIGNAL<98>	LOC =	AA6;		# J2_024_AA6
NET	SCROD_SIGNAL<99>	LOC =	P10;		# J2_025_P10
NET	SCROD_SIGNAL<100>	LOC =	M10;		# J2_027_M10
NET	SCROD_SIGNAL<101>	LOC =	L10;		# J2_028_L10
NET	SCROD_SIGNAL<102>	LOC =	K10;		# J2_029_K10
NET	SCROD_SIGNAL<103>	LOC =	AA15;		# J2_031_AA15
NET	SCROD_SIGNAL<104>	LOC =	V14;		# J2_032_V14
NET	SCROD_SIGNAL<105>	LOC =	Y15;		# J2_033_Y15
NET	SCROD_SIGNAL<106>	LOC =	AA18;		# J2_035_AA18
NET	SCROD_SIGNAL<107>	LOC =	W16;		# J2_036_W16
NET	SCROD_SIGNAL<108>	LOC =	AA19;		# J2_037_AA19
NET	SCROD_SIGNAL<109>	LOC =	U15;		# J2_039_U15
NET	SCROD_SIGNAL<110>	LOC =	Y17;		# J2_040_Y17
NET	SCROD_SIGNAL<111>	LOC =	AA21;		# J2_041_AA21
NET	SCROD_SIGNAL<112>	LOC =	W17;		# J2_043_W17
NET	SCROD_SIGNAL<113>	LOC =	AF22;		# J2_044_AF22
NET	SCROD_SIGNAL<114>	LOC =	AF23;		# J2_045_AF23
NET	SCROD_SIGNAL<115>	LOC =	AB22;		# J2_047_AB22
NET	SCROD_SIGNAL<116>	LOC =	W20;		# J2_048_W20
NET	SCROD_SIGNAL<117>	LOC =	Y21;		# J2_049_Y21
NET	SCROD_SIGNAL<118>	LOC =	AA22;		# J2_052_AA22
NET	SCROD_SIGNAL<119>	LOC =	Y20;		# J2_053_Y20
NET	SCROD_SIGNAL<120>	LOC =	AC22;		# J2_054_AC22
NET	SCROD_SIGNAL<121>	LOC =	V18;		# J2_056_V18
NET	SCROD_SIGNAL<122>	LOC =	W19;		# J2_057_W19
NET	SCROD_SIGNAL<123>	LOC =	W18;		# J2_058_W18
NET	SCROD_SIGNAL<124>	LOC =	AB21;		# J2_060_AB21
NET	SCROD_SIGNAL<125>	LOC =	AA17;		# J2_061_AA17
NET	SCROD_SIGNAL<126>	LOC =	V16;		# J2_062_V16
NET	SCROD_SIGNAL<127>	LOC =	AB19;		# J2_064_AB19
NET	SCROD_SIGNAL<128>	LOC =	Y16;		# J2_065_Y16
NET	SCROD_SIGNAL<129>	LOC =	AB17;		# J2_066_AB17
NET	SCROD_SIGNAL<130>	LOC =	AA16;		# J2_068_AA16
NET	SCROD_SIGNAL<131>	LOC =	V15;		# J2_069_V15
NET	SCROD_SIGNAL<132>	LOC =	AB15;		# J2_070_AB15
NET	SCROD_SIGNAL<133>	LOC =	P17;		# J2_072_P17
NET	SCROD_SIGNAL<134>	LOC =	W14;		# J2_073_W14
NET	SCROD_SIGNAL<135>	LOC =	U13;		# J2_074_U13
NET	SCROD_SIGNAL<136>	LOC =	V13;		# J2_076_V13
NET	SCROD_SIGNAL<137>	LOC =	Y12;		# J2_077_Y12
NET	SCROD_SIGNAL<138>	LOC =	Y13;		# J2_078_Y13
NET	SCROD_SIGNAL<139>	LOC =	W12;		# J2_080_W12
NET	SCROD_SIGNAL<140>	LOC =	AA13;		# J2_081_AA13
NET	SCROD_SIGNAL<141>	LOC =	AA11;		# J2_082_AA11
NET	SCROD_SIGNAL<142>	LOC =	V10;		# J2_084_V10
NET	SCROD_SIGNAL<143>	LOC =	AB9;		# J2_085_AB9
NET	SCROD_SIGNAL<144>	LOC =	AB11;		# J2_086_AB11
NET	SCROD_SIGNAL<145>	LOC =	W10;		# J2_088_W10
NET	SCROD_SIGNAL<146>	LOC =	W9;		# J2_089_W9
NET	SCROD_SIGNAL<147>	LOC =	Y9;		# J2_090_Y9
NET	SCROD_SIGNAL<148>	LOC =	AA8;		# J2_092_AA8
NET	SCROD_SIGNAL<149>	LOC =	AB7;		# J2_093_AB7
NET	SCROD_SIGNAL<150>	LOC =	AC6;		# J2_094_AC6
NET	SCROD_SIGNAL<151>	LOC =	AD5;		# J2_096_AD5
NET	SCROD_SIGNAL<152>	LOC =	W7;		# J2_097_W7
NET	SCROD_SIGNAL<153>	LOC =	AA7;		# J2_098_AA7

#NET	SCROD_SIGNAL<0>	LOC =	H6;		# J3_003_H6
#NET	SCROD_SIGNAL<1>	LOC =	K6;		# J3_004_K6
#NET	SCROD_SIGNAL<2>	LOC =	K8;		# J3_005_K8
#NET	SCROD_SIGNAL<3>	LOC =	L7;		# J3_007_L7
#NET	SCROD_SIGNAL<4>	LOC =	M6;		# J3_008_M6
#NET	SCROD_SIGNAL<5>	LOC =	N6;		# J3_009_N6
#NET	SCROD_SIGNAL<6>	LOC =	N8;		# J3_011_N8
#NET	SCROD_SIGNAL<7>	LOC =	P8;		# J3_012_P8
#NET	SCROD_SIGNAL<8>	LOC =	R7;		# J3_013_R7
#NET	SCROD_SIGNAL<9>	LOC =	T6;		# J3_015_T6
#NET	SCROD_SIGNAL<10>	LOC =	U7;		# J3_016_U7
#NET	SCROD_SIGNAL<11>	LOC =	V6;		# J3_017_V6
#NET	SCROD_SIGNAL<12>	LOC =	Y6;		# J3_019_Y6
#NET	SCROD_SIGNAL<13>	LOC =	K9;		# J3_020_K9
#NET	SCROD_SIGNAL<14>	LOC =	H13;		# DAC1 H13
#NET	SCROD_SIGNAL<15>	LOC =	F14;		# DAC2 F14
#NET	SCROD_SIGNAL<16>	LOC =	E14;		# DAC3 E14
#NET	SCROD_SIGNAL<17>	LOC =	K14;		# DAC4 K14
#NET	SCROD_SIGNAL<18>	LOC =	H14;		# DAC5 H14
#NET	SCROD_SIGNAL<19>	LOC =	J15;		# DAC6 J15
#NET	SCROD_SIGNAL<20>	LOC =	H15;		# DAC7 H15
#NET	SCROD_SIGNAL<21>	LOC =	J16;		# DAC8 J16
#NET	SCROD_SIGNAL<22>	LOC =	V20;		# J3_032_V20
#NET	SCROD_SIGNAL<23>	LOC =	U19;		# J3_033_U19
#NET	SCROD_SIGNAL<24>	LOC =	U21;		# J3_035_U21
#NET	SCROD_SIGNAL<25>	LOC =	T20;		# J3_036_T20
#NET	SCROD_SIGNAL<26>	LOC =	R20;		# J3_037_R20
#NET	SCROD_SIGNAL<27>	LOC =	P19;		# J3_039_P19
#NET	SCROD_SIGNAL<28>	LOC =	N19;		# J3_040_N19
#NET	SCROD_SIGNAL<29>	LOC =	N21;		# J3_041_N21
#NET	SCROD_SIGNAL<30>	LOC =	M21;		# J3_043_M21
#NET	SCROD_SIGNAL<31>	LOC =	L20;		# J3_044_L20
#NET	SCROD_SIGNAL<32>	LOC =	K19;		# J3_045_K19
#NET	SCROD_SIGNAL<33>	LOC =	K21;		# J3_047_K21
#NET	SCROD_SIGNAL<34>	LOC =	H20;		# J3_048_H20
#NET	SCROD_SIGNAL<35>	LOC =	G20;		# J3_049_G20
#NET	SCROD_SIGNAL<36>	LOC =	H21;		# J3_052_H21
#NET	SCROD_SIGNAL<37>	LOC =	J20;		# J3_053_J20
#NET	SCROD_SIGNAL<38>	LOC =	K20;		# J3_054_K20
#NET	SCROD_SIGNAL<39>	LOC =	L21;		# J3_056_L21
#NET	SCROD_SIGNAL<40>	LOC =	L19;		# J3_057_L19
#NET	SCROD_SIGNAL<41>	LOC =	M19;		# J3_058_M19
#NET	SCROD_SIGNAL<42>	LOC =	N20;		# J3_060_N20
#NET	SCROD_SIGNAL<43>	LOC =	P21;		# J3_061_P21
#NET	SCROD_SIGNAL<44>	LOC =	R21;		# J3_062_R21
#NET	SCROD_SIGNAL<45>	LOC =	R19;		# J3_064_R19
#NET	SCROD_SIGNAL<46>	LOC =	T19;		# J3_065_T19
#NET	SCROD_SIGNAL<47>	LOC =	U20;		# J3_066_U20
#NET	SCROD_SIGNAL<48>	LOC =	V21;		# J3_068_V21
#NET	SCROD_SIGNAL<49>	LOC =	K18;		# J3_069_K18
#NET	SCROD_SIGNAL<50>	LOC =	M18;		# J3_070_M18
#NET	SCROD_SIGNAL<51>	LOC =	N18;		# J3_072_N18
#NET	SCROD_SIGNAL<52>	LOC =	R18;		# J3_073_R18
#NET	SCROD_SIGNAL<53>	LOC =	U9;		# J3_074_U9
#NET	SCROD_SIGNAL<54>	LOC =	T9;		# J3_076_T9
#NET	SCROD_SIGNAL<55>	LOC =	R9;		# J3_077_R9
#NET	SCROD_SIGNAL<56>	LOC =	N9;		# J3_078_N9
#NET	SCROD_SIGNAL<57>	LOC =	M9;		# J3_080_M9
#NET	SCROD_SIGNAL<58>	LOC =	L9;		# J3_081_L9
#NET	SCROD_SIGNAL<59>	LOC =	J9;		# J3_082_J9
#NET	SCROD_SIGNAL<60>	LOC =	V7;		# J3_084_V7
#NET	SCROD_SIGNAL<61>	LOC =	U8;		# J3_085_U8
#NET	SCROD_SIGNAL<62>	LOC =	T8;		# J3_086_T8
#NET	SCROD_SIGNAL<63>	LOC =	R8;		# J3_088_R8
#NET	SCROD_SIGNAL<64>	LOC =	R6;		# J3_089_R6
#NET	SCROD_SIGNAL<65>	LOC =	P6;		# J3_090_P6
#NET	SCROD_SIGNAL<66>	LOC =	N7;		# J3_092_N7
#NET	SCROD_SIGNAL<67>	LOC =	M8;		# J3_093_M8
#NET	SCROD_SIGNAL<68>	LOC =	L8;		# J3_094_L8
#NET	SCROD_SIGNAL<69>	LOC =	L6;		# J3_096_L6
#NET	SCROD_SIGNAL<70>	LOC =	K7;		# J3_097_K7
#NET	SCROD_SIGNAL<71>	LOC =	J7;		# J3_098_J7
#NET	SCROD_SIGNAL<72>	LOC =	A25;		# J4_006_A25
#NET	SCROD_SIGNAL<73>	LOC =	B26;		# J4_007_B26
#NET	SCROD_SIGNAL<74>	LOC =	B25;		# J4_008_B25
#NET	SCROD_SIGNAL<75>	LOC =	C26;		# J4_010_C26
#NET	SCROD_SIGNAL<76>	LOC =	C25;		# J4_011_C25
#NET	SCROD_SIGNAL<77>	LOC =	D26;		# J4_012_D26
#NET	SCROD_SIGNAL<78>	LOC =	E26;		# J4_014_E26
#NET	SCROD_SIGNAL<79>	LOC =	E25;		# J4_015_E25
#NET	SCROD_SIGNAL<80>	LOC =	F26;		# J4_016_F26
#NET	SCROD_SIGNAL<81>	LOC =	G26;		# J4_018_G26
#NET	SCROD_SIGNAL<82>	LOC =	G25;		# J4_019_G25
#NET	SCROD_SIGNAL<83>	LOC =	H26;		# J4_020_H26
#NET	SCROD_SIGNAL<84>	LOC =	J26;		# J4_022_J26
#NET	SCROD_SIGNAL<85>	LOC =	J25;		# J4_023_J25
#NET	SCROD_SIGNAL<86>	LOC =	K26;		# J4_024_K26
#NET	SCROD_SIGNAL<87>	LOC =	L26;		# J4_026_L26
#NET	SCROD_SIGNAL<88>	LOC =	L25;		# J4_027_L25
#NET	SCROD_SIGNAL<89>	LOC =	M26;		# J4_028_M26
#NET	SCROD_SIGNAL<90>	LOC =	N26;		# J4_030_N26
#NET	SCROD_SIGNAL<91>	LOC =	N25;		# J4_031_N25
#NET	SCROD_SIGNAL<92>	LOC =	D23;		# J4_032_D23
#NET	SCROD_SIGNAL<93>	LOC =	E23;		# J4_034_E23
#NET	SCROD_SIGNAL<94>	LOC =	F23;		# J4_035_F23
#NET	SCROD_SIGNAL<95>	LOC =	G24;		# J4_036_G24
#NET	SCROD_SIGNAL<96>	LOC =	H24;		# J4_038_H24
#NET	SCROD_SIGNAL<97>	LOC =	J24;		# J4_039_J24
#NET	SCROD_SIGNAL<98>	LOC =	J22;		# J4_040_J22
#NET	SCROD_SIGNAL<99>	LOC =	K22;		# J4_042_K22
#NET	SCROD_SIGNAL<100>	LOC =	M24;		# J4_044_M24
#NET	SCROD_SIGNAL<101>	LOC =	N24;		# J4_046_N24
#NET	SCROD_SIGNAL<102>	LOC =	N22;		# J4_047_N22
#NET	SCROD_SIGNAL<103>	LOC =	P22;		# J4_048_P22
#NET	SCROD_SIGNAL<104>	LOC =	R23;		# J4_050_R23
#NET	SCROD_SIGNAL<105>	LOC =	T23;		# J4_051_T23
#NET	SCROD_SIGNAL<106>	LOC =	N17;		# J4_052_N17
#NET	SCROD_SIGNAL<107>	LOC =	U22;		# J4_054_U22
#NET	SCROD_SIGNAL<108>	LOC =	V23;		# J4_055_V23
#NET	SCROD_SIGNAL<109>	LOC =	Y24;		# J4_056_Y24
#NET	SCROD_SIGNAL<110>	LOC =	AA23;		# J4_058_AA23
#NET	SCROD_SIGNAL<111>	LOC =	AC24;		# J4_059_AC24
#NET	SCROD_SIGNAL<112>	LOC =	AD24;		# J4_060_AD24
#NET	SCROD_SIGNAL<113>	LOC =	AC23;		# J4_061_AC23
#NET	SCROD_SIGNAL<114>	LOC =	AB24;		# J4_062_AB24
#NET	SCROD_SIGNAL<115>	LOC =	AA24;		# J4_063_AA24
#NET	SCROD_SIGNAL<116>	LOC =	W24;		# J4_065_W24
#NET	SCROD_SIGNAL<117>	LOC =	V24;		# J4_066_V24
#NET	SCROD_SIGNAL<118>	LOC =	T22;		# J4_069_T22
#NET	SCROD_SIGNAL<119>	LOC =	T24;		# J4_070_T24
#NET	SCROD_SIGNAL<120>	LOC =	R24;		# J4_071_R24
#NET	SCROD_SIGNAL<121>	LOC =	P24;		# J4_073_P24
#NET	SCROD_SIGNAL<122>	LOC =	N23;		# J4_074_N23
#NET	SCROD_SIGNAL<123>	LOC =	M23;		# J4_075_M23
#NET	SCROD_SIGNAL<124>	LOC =	L23;		# J4_077_L23
#NET	SCROD_SIGNAL<125>	LOC =	L24;		# J4_078_L24
#NET	SCROD_SIGNAL<126>	LOC =	K24;		# J4_079_K24
#NET	SCROD_SIGNAL<127>	LOC =	J23;		# J4_081_J23
#NET	SCROD_SIGNAL<128>	LOC =	H22;		# J4_082_H22
#NET	SCROD_SIGNAL<129>	LOC =	G23;		# J4_083_G23
#NET	SCROD_SIGNAL<130>	LOC =	F22;		# J4_085_F22
#NET	SCROD_SIGNAL<131>	LOC =	F24;		# J4_086_F24
#NET	SCROD_SIGNAL<132>	LOC =	E24;		# J4_087_E24
#NET	SCROD_SIGNAL<133>	LOC =	D24;		# J4_089_D24
#NET	SCROD_SIGNAL<134>	LOC =	C24;		# J4_090_C24
#NET	SCROD_SIGNAL<135>	LOC =	B24;		# J4_091_B24
#NET	SCROD_SIGNAL<136>	LOC =	AE25;		# J4_093_AE25
#NET	SCROD_SIGNAL<137>	LOC =	AE26;		# J4_094_AE26
#NET	SCROD_SIGNAL<138>	LOC =	AD26;		# J4_095_AD26
#NET	SCROD_SIGNAL<139>	LOC =	AC26;		# J4_097_AC26
#NET	SCROD_SIGNAL<140>	LOC =	AC25;		# J4_098_AC25
#NET	SCROD_SIGNAL<141>	LOC =	AB26;		# J4_099_AB26
#NET	SCROD_SIGNAL<142>	LOC =	AA26;		# J4_101_AA26
#NET	SCROD_SIGNAL<143>	LOC =	AA25;		# J4_102_AA25
#NET	SCROD_SIGNAL<144>	LOC =	Y26;		# J4_103_Y26
#NET	SCROD_SIGNAL<145>	LOC =	W25;		# J4_105_W25
#NET	SCROD_SIGNAL<146>	LOC =	W26;		# J4_106_W26
#NET	SCROD_SIGNAL<147>	LOC =	V26;		# J4_107_V26
#NET	SCROD_SIGNAL<148>	LOC =	U24;		# J4_109_U24
#NET	SCROD_SIGNAL<149>	LOC =	U23;		# J4_110_U23
#NET	SCROD_SIGNAL<150>	LOC =	T26;		# J4_111_T26
#NET	SCROD_SIGNAL<151>	LOC =	R25;		# J4_113_R25
#NET	SCROD_SIGNAL<152>	LOC =	R26;		# J4_114_R26
#NET	SCROD_SIGNAL<153>	LOC =	P26;		# J4_115_P26
