#Using on-board 250 MHz oscillator
NET BOARD_CLOCK_250MHz_P	LOC = "U25" | IOSTANDARD = LVDS_25;
NET BOARD_CLOCK_250MHz_N	LOC = "U26" | IOSTANDARD = LVDS_25;

#FTSW Inputs
NET RJ45_ACK_P		LOC = "ad14" | IOSTANDARD = LVDS_25;
NET RJ45_ACK_N		LOC = "af14" | IOSTANDARD = LVDS_25;
NET RJ45_TRG_P		LOC = "ab14" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_TRG_N		LOC = "ac14" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_RSV_P		LOC = "ae15" | IOSTANDARD = LVDS_25;
NET RJ45_RSV_N		LOC = "af15" | IOSTANDARD = LVDS_25;
NET RJ45_CLK_P		LOC = "ae13" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_CLK_N		LOC = "af13" | IOSTANDARD = LVDS_25 | diff_term=true;

#Pins for controlling external DACs - separated by column.
NET DAC_SCL_C<0>		LOC = "H13" | IOSTANDARD = LVCMOS33; #DAC1 on SCROD schematic
NET DAC_SDA_C<0>		LOC = "F14" | IOSTANDARD = LVCMOS33; #DAC2 on SCROD schematic
NET DAC_SCL_C<1>		LOC = "E14" | IOSTANDARD = LVCMOS33; #DAC3 on SCROD schematic
NET DAC_SDA_C<1>		LOC = "K14" | IOSTANDARD = LVCMOS33; #DAC4 on SCROD schematic
NET DAC_SCL_C<2>		LOC = "H14" | IOSTANDARD = LVCMOS33; #DAC5 on SCROD schematic
NET DAC_SDA_C<2>		LOC = "J15" | IOSTANDARD = LVCMOS33; #DAC6 on SCROD schematic
NET DAC_SCL_C<3>		LOC = "H15" | IOSTANDARD = LVCMOS33; #DAC7 on SCROD schematic
NET DAC_SDA_C<3>		LOC = "J16" | IOSTANDARD = LVCMOS33; #DAC8 on SCROD schematic

#Pins for ASIC sampling and analog storage
NET	AsicIn_SAMPLING_HOLD_MODE_C<0>				LOC = 	W8;	#SST_IN_A
NET	AsicIn_SAMPLING_HOLD_MODE_C<1>				LOC = 	AE2;	#SST_IN_B
NET	AsicIn_SAMPLING_HOLD_MODE_C<2>				LOC = 	AC3;	#SST_IN_C
NET	AsicIn_SAMPLING_HOLD_MODE_C<3>				LOC = 	N19;	#SST_IN_D
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<2>		LOC = 	W14;	#WR_ADDR_0  #swapped with pin 2 relative to IRS2 schematic
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<1>		LOC = 	P17;	#WR_ADDR_1
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<0>		LOC = 	AB15;	#WR_ADDR_2  #swapped with pin 0 relative to IRS2 schematic
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<3>		LOC = 	V15;	#WR_ADDR_3
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<4>		LOC = 	Y26;	#WR_ADDR_4
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<5>		LOC = 	W26;	#WR_ADDR_5
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<6>		LOC = 	U24;	#WR_ADDR_6
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<7>		LOC = 	T26;	#WR_ADDR_7
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<8>		LOC = 	R26;	#WR_ADDR_8
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS_ENABLE	LOC = 	AD26;	#WR_ADDR_9
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C<0>	LOC = 	AA9;	#WR_STRB_A
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C<1>	LOC = 	W17;	#WR_STRB_B
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C<2>	LOC = 	J9;	#WR_STRB_C
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C<3>	LOC = 	L19;	#WR_STRB_D
NET	AsicIn_SAMPLING_TRACK_MODE_C<0>				LOC = 	AD4;	#SSP_IN_A
NET	AsicIn_SAMPLING_TRACK_MODE_C<1>				LOC = 	AE1;	#SSP_IN_B
NET	AsicIn_SAMPLING_TRACK_MODE_C<2>				LOC = 	AB4;	#SSP_IN_C
NET	AsicIn_SAMPLING_TRACK_MODE_C<3>				LOC = 	P19;	#SSP_IN_D

#DIAGNOSTIC PINS (LEDS, MONITOR HEADER, etc.)
NET LEDS<0>		LOC = "f18"  | IOSTANDARD = LVCMOS33;
NET LEDS<1>		LOC = "e18"  | IOSTANDARD = LVCMOS33;
NET LEDS<2>		LOC = "g16"  | IOSTANDARD = LVCMOS33;
NET LEDS<3>		LOC = "f17"  | IOSTANDARD = LVCMOS33;
NET LEDS<4>		LOC = "f20"  | IOSTANDARD = LVCMOS33;
NET LEDS<5>		LOC = "e20"  | IOSTANDARD = LVCMOS33;
NET LEDS<6>		LOC = "h17"  | IOSTANDARD = LVCMOS33;
NET LEDS<7>		LOC = "g17"  | IOSTANDARD = LVCMOS33;
NET LEDS<8>		LOC = "c21"  | IOSTANDARD = LVCMOS33;
NET LEDS<9>		LOC = "b21"  | IOSTANDARD = LVCMOS33;
NET LEDS<10>	LOC = "h18"  | IOSTANDARD = LVCMOS33;
NET LEDS<11>	LOC = "h19"  | IOSTANDARD = LVCMOS33;
NET LEDS<12>	LOC = "b22"  | IOSTANDARD = LVCMOS33;
NET LEDS<13>	LOC = "a22"  | IOSTANDARD = LVCMOS33;
NET LEDS<14>	LOC = "g19"  | IOSTANDARD = LVCMOS33;
NET LEDS<15>	LOC = "f19"  | IOSTANDARD = LVCMOS33;
NET MONITOR_INPUTS<0>	LOC = "L26" | IOSTANDARD = LVCMOS25 | PULLUP;
NET MONITOR_OUTPUTS<1>	LOC = "K26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<2>	LOC = "J25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<3>	LOC = "J26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<4>	LOC = "H26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<5>	LOC = "G25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<6>	LOC = "G26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<7>	LOC = "F26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<8>	LOC = "E25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<9>	LOC = "E26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<10>	LOC = "D26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<11>	LOC = "C25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<12>	LOC = "C26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<13>	LOC = "B25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<14>	LOC = "B26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<15>	LOC = "A25" | IOSTANDARD = LVCMOS25;

#Timing constraints
NET map_clocking_and_ftsw_interface/map_FTSW_interface/sig_jclk 								PERIOD = 7.8 ns;
NET map_clocking_and_ftsw_interface/map_FTSW_interface/map_belle2clk/map_pll/sig_clk1  PERIOD = 7.8 ns;
NET map_clocking_and_ftsw_interface/internal_BOARD_CLOCK_250MHz								PERIOD = 4.0 ns;
#The location of the FTSW receiver PLL seems to only work in specific locations.
#The one below is verified working... others may also work but have not been
#systematically tried.
INST map_clocking_and_ftsw_interface/map_FTSW_interface/map_belle2clk/map_pll/map_pll 	LOC = PLL_ADV_X0Y0;
