#Using on-board 250 MHz oscillator
NET BOARD_CLOCK_250MHz_P	LOC = "U25" | IOSTANDARD = LVDS_25;
NET BOARD_CLOCK_250MHz_N	LOC = "U26" | IOSTANDARD = LVDS_25;

#FTSW Inputs
NET RJ45_ACK_P		LOC = "ad14" | IOSTANDARD = LVDS_25;
NET RJ45_ACK_N		LOC = "af14" | IOSTANDARD = LVDS_25;
NET RJ45_TRG_P		LOC = "ab14" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_TRG_N		LOC = "ac14" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_RSV_P		LOC = "ae15" | IOSTANDARD = LVDS_25;
NET RJ45_RSV_N		LOC = "af15" | IOSTANDARD = LVDS_25;
NET RJ45_CLK_P		LOC = "ae13" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_CLK_N		LOC = "af13" | IOSTANDARD = LVDS_25 | diff_term=true;

#Pins for controlling external DACs - separated by column.
NET DAC_SCL_C<0>		LOC = "H13" | IOSTANDARD = LVCMOS33; #DAC1 on SCROD schematic
NET DAC_SDA_C<0>		LOC = "F14" | IOSTANDARD = LVCMOS33; #DAC2 on SCROD schematic
NET DAC_SCL_C<1>		LOC = "E14" | IOSTANDARD = LVCMOS33; #DAC3 on SCROD schematic
NET DAC_SDA_C<1>		LOC = "K14" | IOSTANDARD = LVCMOS33; #DAC4 on SCROD schematic
NET DAC_SCL_C<2>		LOC = "H14" | IOSTANDARD = LVCMOS33; #DAC5 on SCROD schematic
NET DAC_SDA_C<2>		LOC = "J15" | IOSTANDARD = LVCMOS33; #DAC6 on SCROD schematic
NET DAC_SCL_C<3>		LOC = "H15" | IOSTANDARD = LVCMOS33; #DAC7 on SCROD schematic
NET DAC_SDA_C<3>		LOC = "J16" | IOSTANDARD = LVCMOS33; #DAC8 on SCROD schematic

#Pins for ASIC sampling and analog storage
NET	AsicIn_SAMPLING_HOLD_MODE_C<0>				LOC = 	W8;	#SST_IN_A
NET	AsicIn_SAMPLING_HOLD_MODE_C<1>				LOC = 	AE2;	#SST_IN_B
NET	AsicIn_SAMPLING_HOLD_MODE_C<2>				LOC = 	AC3;	#SST_IN_C
NET	AsicIn_SAMPLING_HOLD_MODE_C<3>				LOC = 	N19;	#SST_IN_D
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<2>		LOC = 	W14;	#WR_ADDR_0  #swapped with pin 2 relative to IRS2 schematic
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<1>		LOC = 	P17;	#WR_ADDR_1
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<0>		LOC = 	AB15;	#WR_ADDR_2  #swapped with pin 0 relative to IRS2 schematic
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<3>		LOC = 	V15;	#WR_ADDR_3
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<4>		LOC = 	Y26;	#WR_ADDR_4
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<5>		LOC = 	W26;	#WR_ADDR_5
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<6>		LOC = 	U24;	#WR_ADDR_6
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<7>		LOC = 	T26;	#WR_ADDR_7
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<8>		LOC = 	R26;	#WR_ADDR_8
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS_ENABLE	LOC = 	AD26;	#WR_ADDR_9
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C<0>	LOC = 	AA9;	#WR_STRB_A
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C<1>	LOC = 	W17;	#WR_STRB_B
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C<2>	LOC = 	J9;	#WR_STRB_C
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C<3>	LOC = 	L19;	#WR_STRB_D
NET	AsicIn_SAMPLING_TRACK_MODE_C<0>				LOC = 	AD4;	#SSP_IN_A
NET	AsicIn_SAMPLING_TRACK_MODE_C<1>				LOC = 	AE1;	#SSP_IN_B
NET	AsicIn_SAMPLING_TRACK_MODE_C<2>				LOC = 	AB4;	#SSP_IN_C
NET	AsicIn_SAMPLING_TRACK_MODE_C<3>				LOC = 	P19;	#SSP_IN_D

#Pins for ASIC digitizing and readout
NET	AsicIn_DATA_BUS_CHANNEL_ADDRESS<0>			LOC = 	W19;	#CH_SEL0
NET	AsicIn_DATA_BUS_CHANNEL_ADDRESS<1>			LOC = 	V18;	#CH_SEL1
NET	AsicIn_DATA_BUS_CHANNEL_ADDRESS<2>			LOC = 	AC22;	#CH_SEL2
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<0>			LOC = 	Y20;	#SMPL_SEL0
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<1>			LOC = 	AA22;	#SMPL_SEL1
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<2>			LOC = 	P26;	#SMPL_SEL2
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<3>			LOC = 	R25;	#SMPL_SEL3
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<4>			LOC = 	U23;	#SMPL_SEL4
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<5>			LOC = 	V26;	#SMPL_SEL5
NET	AsicIn_DATA_BUS_OUTPUT_ENABLE					LOC = 	W18;	#SMPL_SEL_ALL
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C0_R<0>		LOC = 	P1;	#DBUS_A_SDC0
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C1_R<0>		LOC = 	J3;	#DBUS_B_SDC4
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C2_R<0>		LOC = 	L7;	#DBUS_C_SDC9
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C3_R<0>		LOC = 	K21;	#DBUS_D_SDC13
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C0_R<1>		LOC = 	R1;	#DBUS_A_SDC1
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C1_R<1>		LOC = 	J5;	#DBUS_B_SDC5
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C2_R<1>		LOC = 	M6;	#DBUS_C_SDC10
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C3_R<1>		LOC = 	H20;	#DBUS_D_SDC14
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C0_R<2>		LOC = 	R2;	#DBUS_A_SDC2
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C1_R<2>		LOC = 	K5;	#DBUS_B_SDC6
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C2_R<2>		LOC = 	N6;	#DBUS_C_SDC11
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C3_R<2>		LOC = 	G20;	#DBUS_D_SDC15
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C0_R<3>		LOC = 	T1;	#DBUS_A_SDC3
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C1_R<3>		LOC = 	L4;	#DBUS_B_SDC7
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C2_R<3>		LOC = 	N8;	#DBUS_C_SDC12
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_C3_R<3>		LOC = 	R19;	#DBUS_D_SDC16
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<2>			LOC = 	Y16;	#RD_ADDR_0  #swapped with pin 2 relative to IRS2 schematic
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<1>			LOC = 	AB19;	#RD_ADDR_1
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<0>			LOC = 	V16;	#RD_ADDR_2  #swapped with pin 0 relative to IRS2 schematic
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<3>			LOC = 	AA17;	#RD_ADDR_3
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<4>			LOC = 	AC25;	#RD_ADDR_4
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<5>			LOC = 	AA26;	#RD_ADDR_5
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<6>			LOC = 	AE26;	#RD_ADDR_6
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<7>			LOC = 	AC26;	#RD_ADDR_7
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<8>			LOC = 	AB26;	#RD_ADDR_8
NET	AsicIn_STORAGE_TO_WILK_ADDRESS_ENABLE		LOC = 	AA25;	#RD_ADDR_9
NET	AsicIn_STORAGE_TO_WILK_ENABLE					LOC = 	AB21;	#RD_ENA
NET	AsicIn_WILK_COUNTER_RESET						LOC = 	W25;	#TDC_CLR
NET	AsicIn_WILK_COUNTER_START_C<0>				LOC = 	AA12;	#TDC_START_A
NET	AsicIn_WILK_COUNTER_START_C<1>				LOC = 	Y21;	#TDC_START_B
NET	AsicIn_WILK_COUNTER_START_C<2>				LOC = 	T9;	#TDC_START_C
NET	AsicIn_WILK_COUNTER_START_C<3>				LOC = 	L24;	#TDC_START_D
NET	AsicIn_WILK_RAMP_ACTIVE							LOC = 	U13;	#RAMP
NET	AsicOut_DATA_BUS_C0<0>							LOC = 	U1;	#DAT0_A
NET	AsicOut_DATA_BUS_C0<1>							LOC = 	U2;	#DAT1_A
NET	AsicOut_DATA_BUS_C0<2>							LOC = 	V1;	#DAT2_A
NET	AsicOut_DATA_BUS_C0<3>							LOC = 	W1;	#DAT3_A
NET	AsicOut_DATA_BUS_C0<4>							LOC = 	W2;	#DAT4_A
NET	AsicOut_DATA_BUS_C0<5>							LOC = 	Y1;	#DAT5_A
NET	AsicOut_DATA_BUS_C0<6>							LOC = 	AA1;	#DAT6_A
NET	AsicOut_DATA_BUS_C0<7>							LOC = 	AA2;	#DAT7_A
NET	AsicOut_DATA_BUS_C0<8>							LOC = 	AB1;	#DAT8_A
NET	AsicOut_DATA_BUS_C0<9>							LOC = 	AC1;	#DAT9_A
NET	AsicOut_DATA_BUS_C0<10>							LOC = 	AC2;	#DAT10_A
NET	AsicOut_DATA_BUS_C0<11>							LOC = 	AD1;	#DAT11_A
NET	AsicOut_DATA_BUS_C1<0>							LOC = 	M4;	#DAT0_B
NET	AsicOut_DATA_BUS_C1<1>							LOC = 	N4;	#DAT1_B
NET	AsicOut_DATA_BUS_C1<2>							LOC = 	P3;	#DAT2_B
NET	AsicOut_DATA_BUS_C1<3>							LOC = 	R3;	#DAT3_B
NET	AsicOut_DATA_BUS_C1<4>							LOC = 	R5;	#DAT4_B
NET	AsicOut_DATA_BUS_C1<5>							LOC = 	T4;	#DAT5_B
NET	AsicOut_DATA_BUS_C1<6>							LOC = 	U4;	#DAT6_B
NET	AsicOut_DATA_BUS_C1<7>							LOC = 	V3;	#DAT7_B
NET	AsicOut_DATA_BUS_C1<8>							LOC = 	V5;	#DAT8_B
NET	AsicOut_DATA_BUS_C1<9>							LOC = 	W5;	#DAT9_B
NET	AsicOut_DATA_BUS_C1<10>							LOC = 	Y5;	#DAT10_B
NET	AsicOut_DATA_BUS_C1<11>							LOC = 	AA4;	#DAT11_B
NET	AsicOut_DATA_BUS_C2<0>							LOC = 	P8;	#DAT0_C
NET	AsicOut_DATA_BUS_C2<1>							LOC = 	R7;	#DAT1_C
NET	AsicOut_DATA_BUS_C2<2>							LOC = 	T6;	#DAT2_C
NET	AsicOut_DATA_BUS_C2<3>							LOC = 	U7;	#DAT3_C
NET	AsicOut_DATA_BUS_C2<4>							LOC = 	V6;	#DAT4_C
NET	AsicOut_DATA_BUS_C2<5>							LOC = 	Y6;	#DAT5_C
NET	AsicOut_DATA_BUS_C2<6>							LOC = 	K9;	#DAT6_C
NET	AsicOut_DATA_BUS_C2<7>							LOC = 	V20;	#DAT7_C
NET	AsicOut_DATA_BUS_C2<8>							LOC = 	U19;	#DAT8_C
NET	AsicOut_DATA_BUS_C2<9>							LOC = 	U21;	#DAT9_C
NET	AsicOut_DATA_BUS_C2<10>							LOC = 	T20;	#DAT10_C
NET	AsicOut_DATA_BUS_C2<11>							LOC = 	R20;	#DAT11_C
NET	AsicOut_DATA_BUS_C3<0>							LOC = 	N24;	#DAT0_D
NET	AsicOut_DATA_BUS_C3<1>							LOC = 	N22;	#DAT1_D
NET	AsicOut_DATA_BUS_C3<2>							LOC = 	P22;	#DAT2_D
NET	AsicOut_DATA_BUS_C3<3>							LOC = 	R23;	#DAT3_D
NET	AsicOut_DATA_BUS_C3<4>							LOC = 	T23;	#DAT4_D
NET	AsicOut_DATA_BUS_C3<5>							LOC = 	N17;	#DAT5_D
NET	AsicOut_DATA_BUS_C3<6>							LOC = 	U22;	#DAT6_D
NET	AsicOut_DATA_BUS_C3<7>							LOC = 	V23;	#DAT7_D
NET	AsicOut_DATA_BUS_C3<8>							LOC = 	Y24;	#DAT8_D
NET	AsicOut_DATA_BUS_C3<9>							LOC = 	AA23;	#DAT9_D
NET	AsicOut_DATA_BUS_C3<10>							LOC = 	AC24;	#DAT10_D
NET	AsicOut_DATA_BUS_C3<11>							LOC = 	AD24;	#DAT11_D

##Pins for ASIC feedback loops
##Trigger monitoring
#NET	AsicIn_MONITOR_TRIG								LOC = 	B24;	#TRIG_IN
NET	AsicOut_MONITOR_TRIG_C0_R<0>					LOC = 	AE5;	#TRIG_MON_DC0
NET	AsicOut_MONITOR_TRIG_C1_R<0>					LOC = 	M1;	#TRIG_MON_DC1
NET	AsicOut_MONITOR_TRIG_C2_R<0>					LOC = 	J7;	#TRIG_MON_DC2
NET	AsicOut_MONITOR_TRIG_C3_R<0>					LOC = 	D23;	#TRIG_MON_DC3
NET	AsicOut_MONITOR_TRIG_C0_R<1>					LOC = 	AF6;	#TRIG_MON_DC4
NET	AsicOut_MONITOR_TRIG_C1_R<1>					LOC = 	L2;	#TRIG_MON_DC5
NET	AsicOut_MONITOR_TRIG_C2_R<1>					LOC = 	K7;	#TRIG_MON_DC6
NET	AsicOut_MONITOR_TRIG_C3_R<1>					LOC = 	N25;	#TRIG_MON_DC7
NET	AsicOut_MONITOR_TRIG_C0_R<2>					LOC = 	AD6;	#TRIG_MON_DC8
NET	AsicOut_MONITOR_TRIG_C1_R<2>					LOC = 	L1;	#TRIG_MON_DC9
NET	AsicOut_MONITOR_TRIG_C2_R<2>					LOC = 	L6;	#TRIG_MON_DC10
NET	AsicOut_MONITOR_TRIG_C3_R<2>					LOC = 	N26;	#TRIG_MON_DC11
NET	AsicOut_MONITOR_TRIG_C0_R<3>					LOC = 	AA10;	#TRIG_MON_DC12
NET	AsicOut_MONITOR_TRIG_C1_R<3>					LOC = 	K1;	#TRIG_MON_DC13
NET	AsicOut_MONITOR_TRIG_C2_R<3>					LOC = 	L8;	#TRIG_MON_DC14
NET	AsicOut_MONITOR_TRIG_C3_R<3>					LOC = 	C24;	#TRIG_MON_DC15
##Wilkinson count rate monitoring
NET	AsicIn_MONITOR_WILK_COUNTER_RESET			LOC = 	AB17;	#TST_CLEAR
NET	AsicIn_MONITOR_WILK_COUNTER_START			LOC = 	AA16;	#TST_START
NET	AsicOut_MONITOR_WILK_COUNTER_C0_R<0>		LOC = 	V11	| PULLDOWN;	#TST_OUT_DC0
NET	AsicOut_MONITOR_WILK_COUNTER_C1_R<0>		LOC = 	W20	| PULLDOWN;	#TST_OUT_DC1
NET	AsicOut_MONITOR_WILK_COUNTER_C2_R<0>		LOC = 	L9		| PULLDOWN;	#TST_OUT_DC2
NET	AsicOut_MONITOR_WILK_COUNTER_C3_R<0>		LOC = 	H21	| PULLDOWN;	#TST_OUT_DC3
NET	AsicOut_MONITOR_WILK_COUNTER_C0_R<1>		LOC = 	Y11	| PULLDOWN;	#TST_OUT_DC4
NET	AsicOut_MONITOR_WILK_COUNTER_C1_R<1>		LOC = 	AB22	| PULLDOWN;	#TST_OUT_DC5
NET	AsicOut_MONITOR_WILK_COUNTER_C2_R<1>		LOC = 	M9		| PULLDOWN;	#TST_OUT_DC6
NET	AsicOut_MONITOR_WILK_COUNTER_C3_R<1>		LOC = 	J20	| PULLDOWN;	#TST_OUT_DC7
NET	AsicOut_MONITOR_WILK_COUNTER_C0_R<2>		LOC = 	AB13	| PULLDOWN;	#TST_OUT_DC8
NET	AsicOut_MONITOR_WILK_COUNTER_C1_R<2>		LOC = 	AF23	| PULLDOWN;	#TST_OUT_DC9
NET	AsicOut_MONITOR_WILK_COUNTER_C2_R<2>		LOC = 	N9		| PULLDOWN;	#TST_OUT_DC10
NET	AsicOut_MONITOR_WILK_COUNTER_C3_R<2>		LOC = 	K20	| PULLDOWN;	#TST_OUT_DC11
NET	AsicOut_MONITOR_WILK_COUNTER_C0_R<3>		LOC = 	V12	| PULLDOWN;	#TST_OUT_DC12
NET	AsicOut_MONITOR_WILK_COUNTER_C1_R<3>		LOC = 	AF22	| PULLDOWN;	#TST_OUT_DC13
NET	AsicOut_MONITOR_WILK_COUNTER_C2_R<3>		LOC = 	R9		| PULLDOWN;	#TST_OUT_DC14
NET	AsicOut_MONITOR_WILK_COUNTER_C3_R<3>		LOC = 	L21	| PULLDOWN;	#TST_OUT_DC15
## Sampling rate monitoring using SSP_OUT
NET	AsicOut_SAMPLING_TRACK_MODE_C0_R<0>			LOC = 	AC5;	#SSP_OUT_DC0
NET	AsicOut_SAMPLING_TRACK_MODE_C1_R<0>			LOC = 	D3;	#SSP_OUT_DC1
NET	AsicOut_SAMPLING_TRACK_MODE_C2_R<0>			LOC = 	AD3;	#SSP_OUT_DC2
NET	AsicOut_SAMPLING_TRACK_MODE_C3_R<0>			LOC = 	N21;	#SSP_OUT_DC3
NET	AsicOut_SAMPLING_TRACK_MODE_C0_R<1>			LOC = 	AF3;	#SSP_OUT_DC4
NET	AsicOut_SAMPLING_TRACK_MODE_C1_R<1>			LOC = 	E4;	#SSP_OUT_DC5
NET	AsicOut_SAMPLING_TRACK_MODE_C2_R<1>			LOC = 	H6;	#SSP_OUT_DC6
NET	AsicOut_SAMPLING_TRACK_MODE_C3_R<1>			LOC = 	M21;	#SSP_OUT_DC7
NET	AsicOut_SAMPLING_TRACK_MODE_C0_R<2>			LOC = 	AF4;	#SSP_OUT_DC8
NET	AsicOut_SAMPLING_TRACK_MODE_C1_R<2>			LOC = 	G3;	#SSP_OUT_DC9
NET	AsicOut_SAMPLING_TRACK_MODE_C2_R<2>			LOC = 	K6;	#SSP_OUT_DC10
NET	AsicOut_SAMPLING_TRACK_MODE_C3_R<2>			LOC = 	L20;	#SSP_OUT_DC11
NET	AsicOut_SAMPLING_TRACK_MODE_C0_R<3>			LOC = 	AF5;	#SSP_OUT_DC12
NET	AsicOut_SAMPLING_TRACK_MODE_C1_R<3>			LOC = 	H3;	#SSP_OUT_DC13
NET	AsicOut_SAMPLING_TRACK_MODE_C2_R<3>			LOC = 	K8;	#SSP_OUT_DC14
NET	AsicOut_SAMPLING_TRACK_MODE_C3_R<3>			LOC = 	K19;	#SSP_OUT_DC15

#DIAGNOSTIC PINS (LEDS, MONITOR HEADER, etc.)
NET LEDS<0>		LOC = "f18"  | IOSTANDARD = LVCMOS33;
NET LEDS<1>		LOC = "e18"  | IOSTANDARD = LVCMOS33;
NET LEDS<2>		LOC = "g16"  | IOSTANDARD = LVCMOS33;
NET LEDS<3>		LOC = "f17"  | IOSTANDARD = LVCMOS33;
NET LEDS<4>		LOC = "f20"  | IOSTANDARD = LVCMOS33;
NET LEDS<5>		LOC = "e20"  | IOSTANDARD = LVCMOS33;
NET LEDS<6>		LOC = "h17"  | IOSTANDARD = LVCMOS33;
NET LEDS<7>		LOC = "g17"  | IOSTANDARD = LVCMOS33;
NET LEDS<8>		LOC = "c21"  | IOSTANDARD = LVCMOS33;
NET LEDS<9>		LOC = "b21"  | IOSTANDARD = LVCMOS33;
NET LEDS<10>	LOC = "h18"  | IOSTANDARD = LVCMOS33;
NET LEDS<11>	LOC = "h19"  | IOSTANDARD = LVCMOS33;
NET LEDS<12>	LOC = "b22"  | IOSTANDARD = LVCMOS33;
NET LEDS<13>	LOC = "a22"  | IOSTANDARD = LVCMOS33;
NET LEDS<14>	LOC = "g19"  | IOSTANDARD = LVCMOS33;
NET LEDS<15>	LOC = "f19"  | IOSTANDARD = LVCMOS33;
NET MONITOR_INPUTS<0>	LOC = "L26" | IOSTANDARD = LVCMOS25 | PULLUP;
NET MONITOR_OUTPUTS<1>	LOC = "K26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<2>	LOC = "J25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<3>	LOC = "J26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<4>	LOC = "H26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<5>	LOC = "G25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<6>	LOC = "G26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<7>	LOC = "F26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<8>	LOC = "E25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<9>	LOC = "E26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<10>	LOC = "D26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<11>	LOC = "C25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<12>	LOC = "C26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<13>	LOC = "B25" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<14>	LOC = "B26" | IOSTANDARD = LVCMOS25;
NET MONITOR_OUTPUTS<15>	LOC = "A25" | IOSTANDARD = LVCMOS25;

#Timing constraints
NET map_clocking_and_ftsw_interface/map_FTSW_interface/sig_jclk 								PERIOD = 7.8 ns;
NET map_clocking_and_ftsw_interface/map_FTSW_interface/map_belle2clk/map_pll/sig_clk1  PERIOD = 7.8 ns;
NET map_clocking_and_ftsw_interface/internal_BOARD_CLOCK_250MHz								PERIOD = 4.0 ns;
NET internal_CLOCK_SST																						PERIOD = 47.1 ns;

#The location of the FTSW receiver PLL seems to only work in specific locations.
#The one below is verified working... others may also work but have not been
#systematically tried.
INST map_clocking_and_ftsw_interface/map_FTSW_interface/map_belle2clk/map_pll/map_pll 	LOC = PLL_ADV_X0Y0;
