#############################################################################
## IRS ASIC I/Os
#############################################################################
	NET RAMP				LOC = "p2"   | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET TST_START		LOC = "p3"   | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET TST_CLR			LOC = "p4"   | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET TST_OUT			LOC = "p5"   | IOSTANDARD = LVCMOS25;
	NET SMPL_SEL<0>	LOC = "p7"   | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET SMPL_SEL<1>	LOC = "p10"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET SMPL_SEL<2>	LOC = "p11"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET SMPL_SEL<3>	LOC = "p12"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET SMPL_SEL<4>	LOC = "p13"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET DAT<0>			LOC = "p15"  | IOSTANDARD = LVCMOS25;
	NET DAT<1>			LOC = "p16"  | IOSTANDARD = LVCMOS25;
	NET DAT<2>			LOC = "p18"  | IOSTANDARD = LVCMOS25;
	NET DAT<3>			LOC = "p19"  | IOSTANDARD = LVCMOS25;
	NET DAT<4>			LOC = "p20"  | IOSTANDARD = LVCMOS25;
	NET DAT<5>			LOC = "p21"  | IOSTANDARD = LVCMOS25;
	NET DAT<6>			LOC = "p22"  | IOSTANDARD = LVCMOS25;
	NET DAT<7>			LOC = "p24"  | IOSTANDARD = LVCMOS25;
	NET DAT<8>			LOC = "p26"  | IOSTANDARD = LVCMOS25;
	NET DAT<9>			LOC = "p27"  | IOSTANDARD = LVCMOS25;
	NET DAT<10>			LOC = "p28"  | IOSTANDARD = LVCMOS25;
	NET DAT<11>			LOC = "p29"  | IOSTANDARD = LVCMOS25;
	NET CH_SEL<0>		LOC = "p31"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET CH_SEL<1>		LOC = "p33"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET CH_SEL<2>		LOC = "p34"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET CH_SEL<3>		LOC = "p35"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET TDC_STOP		LOC = "p36"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET TDC_START		LOC = "p37"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET TDC_CLR			LOC = "p39"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET MRCO				LOC = "p40"  | IOSTANDARD = LVCMOS25;
	NET TSA_OUT<0>		LOC = "p45"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET TSA_OUT<1>		LOC = "p44"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET TSA_OUT<2>		LOC = "p43"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET TSA_OUT<3>		LOC = "p42"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
#	NET CAL_P			LOC = "p46"  | IOSTANDARD = LVDS_25  | DRIVE = 12 | SLEW = FAST ;
#	NET CAL_N			LOC = "p48"  | IOSTANDARD = LVDS_25  | DRIVE = 12 | SLEW = FAST ;
	NET TSA_IN<0>		LOC = "p64"  | IOSTANDARD = LVCMOS25;
	NET TSA_IN<1>		LOC = "p65"  | IOSTANDARD = LVCMOS25;
	NET TSA_IN<2>		LOC = "p67"  | IOSTANDARD = LVCMOS25;
	NET TSA_IN<3>		LOC = "p68"  | IOSTANDARD = LVCMOS25;
#############################################################################
## USB I/O
#############################################################################
	NET IFCLK      	LOC = "p181" | IOSTANDARD = LVCMOS33;
	NET CLKOUT     	LOC = "p109" | IOSTANDARD = LVCMOS33;
	NET FD<0>			LOC = "p147" | IOSTANDARD = LVCMOS33;
	NET FD<1>			LOC = "p146" | IOSTANDARD = LVCMOS33;
	NET FD<2>			LOC = "p144" | IOSTANDARD = LVCMOS33;
	NET FD<3>			LOC = "p143" | IOSTANDARD = LVCMOS33;
	NET FD<4>			LOC = "p141" | IOSTANDARD = LVCMOS33;
	NET FD<5>			LOC = "p140" | IOSTANDARD = LVCMOS33;
	NET FD<6>			LOC = "p139" | IOSTANDARD = LVCMOS33;
	NET FD<7>			LOC = "p138" | IOSTANDARD = LVCMOS33;
	NET FD<8>			LOC = "p120" | IOSTANDARD = LVCMOS33;
	NET FD<9>			LOC = "p119" | IOSTANDARD = LVCMOS33;
	NET FD<10>			LOC = "p117" | IOSTANDARD = LVCMOS33;
	NET FD<11>			LOC = "p116" | IOSTANDARD = LVCMOS33;
	NET FD<12>			LOC = "p115" | IOSTANDARD = LVCMOS33;
	NET FD<13>			LOC = "p114" | IOSTANDARD = LVCMOS33;
	NET FD<14>			LOC = "p113" | IOSTANDARD = LVCMOS33;
	NET FD<15>			LOC = "p111" | IOSTANDARD = LVCMOS33;
	NET PA0        	LOC = "p132" | IOSTANDARD = LVCMOS33;
	NET PA1        	LOC = "p131" | IOSTANDARD = LVCMOS33;
	NET PA2        	LOC = "p130" | IOSTANDARD = LVCMOS33;
	NET PA3        	LOC = "p128" | IOSTANDARD = LVCMOS33;
	NET PA4        	LOC = "p126" | IOSTANDARD = LVCMOS33;
	NET PA5        	LOC = "p125" | IOSTANDARD = LVCMOS33;
	NET PA6        	LOC = "p124" | IOSTANDARD = LVCMOS33;
	NET PA7        	LOC = "p123" | IOSTANDARD = LVCMOS33;
	NET CTL0       	LOC = "p137" | IOSTANDARD = LVCMOS33;
	NET CTL1       	LOC = "p135" | IOSTANDARD = LVCMOS33;
	NET CTL2       	LOC = "p133" | IOSTANDARD = LVCMOS33;
	NET RDY0       	LOC = "p108" | IOSTANDARD = LVCMOS33;
	NET RDY1       	LOC = "p107" | IOSTANDARD = LVCMOS33;
	NET WAKEUP     	LOC = "p122" | IOSTANDARD = LVCMOS33;
#############################################################################
## DAC I/O
#############################################################################
	NET SCLK    	 	LOC = "p51"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET SYNC    	  	LOC = "p50"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET DIN0    	   LOC = "p52"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET DIN1    	   LOC = "p57"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
	NET DIN2    	   LOC = "p58"  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = FAST ;
#############################################################################
## User I/O
#############################################################################
	NET BCLK		 		LOC = "p184" | IOSTANDARD = LVCMOS33;
	NET EXT_TRIG 		LOC = "p106" | IOSTANDARD = LVCMOS33;
	NET MON<0>			LOC = "p191" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<1>			LOC = "p190" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<2>			LOC = "p189" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<3>			LOC = "p187" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<4>			LOC = "p178" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<5>			LOC = "p176" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<6>			LOC = "p175" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<7>			LOC = "p172" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<8>			LOC = "p171" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<9>			LOC = "p169" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<10>			LOC = "p168" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<11>			LOC = "p167" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<12>			LOC = "p166" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<13>			LOC = "p165" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<14>			LOC = "p162" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET MON<15>			LOC = "p161" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = FAST ;
	NET LED_GREEN  	LOC = "p156" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
	NET LED_RED			LOC = "p155" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
#############################################################################
NET "xCLK" TNM_NET = TxCLK;
TIMESPEC TSxCLK = PERIOD "TxCLK" 8 ns HIGH 50% PRIORITY 1;

NET "xUSB_MAIN/USB_CLK" TNM_NET = TxIFCLK;
#NET "xIFCLK" TNM_NET = TxIFCLK;
TIMESPEC TSxIFCLK = PERIOD "TxIFCLK" 20 ns HIGH 50% PRIORITY 5;

