#Using on-board 250 MHz oscillator
NET CLOCK_4NS_P	LOC = "U25" | IOSTANDARD = LVDS_25;
NET CLOCK_4NS_N	LOC = "U26" | IOSTANDARD = LVDS_25;

NET	SCROD_SIGNAL<0>	LOC = W14;  #WR row sel 0
NET	SCROD_SIGNAL<1>	LOC = P17;  #WR row sel 1
NET	SCROD_SIGNAL<2>	LOC = AB15; #WR row sel 2
NET	SCROD_SIGNAL<3>	LOC = V15;  #WR row sel 3
NET	SCROD_SIGNAL<4>	LOC = Y26;  #WR col sel 0
NET	SCROD_SIGNAL<5>	LOC = W26;  #WR col sel 1
NET	SCROD_SIGNAL<6>	LOC = U24;  #WR col sel 2
NET	SCROD_SIGNAL<7>	LOC = T26;  #WR col sel 3
NET	SCROD_SIGNAL<8>	LOC = R26;  #WR col sel 4
NET	SCROD_SIGNAL<9>	LOC = AD26; #WR col sel 5
NET	SCROD_SIGNAL<10>	LOC = Y16;  #RD row sel 0
NET	SCROD_SIGNAL<11>	LOC = AB19; #RD row sel 1
NET	SCROD_SIGNAL<12>	LOC = V16;  #RD row sel 2
NET	SCROD_SIGNAL<13>	LOC = AA17; #RD row sel 3
NET	SCROD_SIGNAL<14>	LOC = AC25; #RD col sel 0
NET	SCROD_SIGNAL<15>	LOC = AA26; #RD col sel 1
NET	SCROD_SIGNAL<16>	LOC = AE26; #RD col sel 2
NET	SCROD_SIGNAL<17>	LOC = AC26; #RD col sel 3
NET	SCROD_SIGNAL<18>	LOC = AB26; #RD col sel 4
NET	SCROD_SIGNAL<19>	LOC = AA25; #RD col sel 5
NET	SCROD_SIGNAL<20>	LOC = AD4;	#SSP in
NET	SCROD_SIGNAL<21>	LOC = W8;	#SST in
NET	SCROD_SIGNAL<22>	LOC = P1;	#BOE
NET	SCROD_SIGNAL<23>	LOC = H13;	#SCL
NET	SCROD_SIGNAL<24>	LOC = F14;	#SDA
NET	SCROD_SIGNAL<25>	LOC = U13;	#RAMP
NET	SCROD_SIGNAL<26>	LOC = AA9;	#WR strobe
NET	SCROD_SIGNAL<27>	LOC = AA16;	#TST start
NET	SCROD_SIGNAL<28>	LOC = AB17;	#TST_BOIN_CLR
NET	SCROD_SIGNAL<29>	LOC = AB21;	#RD_ENA
NET	SCROD_SIGNAL<30>	LOC = W18;	#SAMPLE_ALL
NET	SCROD_SIGNAL<31>	LOC = W19;	#SAMPLE COL SEL 0
NET	SCROD_SIGNAL<32>	LOC = V18;	#SAMPLE COL SEL 1
NET	SCROD_SIGNAL<33>	LOC = AC22; #SAMPLE COL SEL 2
NET	SCROD_SIGNAL<34>	LOC = Y20;  #SAMPLE SEL 0
NET	SCROD_SIGNAL<35>	LOC = AA22; #SAMPLE SEL 1
NET	SCROD_SIGNAL<36>	LOC = P26; 	#SAMPLE SEL 2
NET	SCROD_SIGNAL<37>	LOC = R25;	#SAMPLE SEL 3
NET	SCROD_SIGNAL<38>	LOC = U23;	#SAMPLE SEL 4
NET	SCROD_SIGNAL<39>	LOC = V26;	#SAMPLE SEL 5
NET	SCROD_SIGNAL<40>	LOC = W25;	#CLEAR
NET	SCROD_SIGNAL<41>	LOC = AA12;	#START
NET	SCROD_SIGNAL<42>	LOC = AA15; #CAL_PULSER