#DAC pin mappings
NET SCL_DC1			LOC = "H13" | IOSTANDARD = LVCMOS33; #DAC1 on SCROD schematic
NET SDA_DC1			LOC = "F14" | IOSTANDARD = LVCMOS33; #DAC2 on SCROD schematic

#Using on-board 250 MHz oscillator
NET CLOCK_4NS_P	LOC = "U25" | IOSTANDARD = LVDS_25;
NET CLOCK_4NS_N	LOC = "U26" | IOSTANDARD = LVDS_25;

#DIAGNOSTIC PINS (LEDS, MONITOR HEADER, etc.)
NET LEDS<0>		LOC = "f18"  | IOSTANDARD = LVCMOS33;
NET LEDS<1>		LOC = "e18"  | IOSTANDARD = LVCMOS33;
NET LEDS<2>		LOC = "g16"  | IOSTANDARD = LVCMOS33;
NET LEDS<3>		LOC = "f17"  | IOSTANDARD = LVCMOS33;
NET LEDS<4>		LOC = "f20"  | IOSTANDARD = LVCMOS33;
NET LEDS<5>		LOC = "e20"  | IOSTANDARD = LVCMOS33;
NET LEDS<6>		LOC = "h17"  | IOSTANDARD = LVCMOS33;
NET LEDS<7>		LOC = "g17"  | IOSTANDARD = LVCMOS33;
NET LEDS<8>		LOC = "c21"  | IOSTANDARD = LVCMOS33;
NET LEDS<9>		LOC = "b21"  | IOSTANDARD = LVCMOS33;
NET LEDS<10>	LOC = "h18"  | IOSTANDARD = LVCMOS33;
NET LEDS<11>	LOC = "h19"  | IOSTANDARD = LVCMOS33;
NET LEDS<12>	LOC = "b22"  | IOSTANDARD = LVCMOS33;
NET LEDS<13>	LOC = "a22"  | IOSTANDARD = LVCMOS33;
NET LEDS<14>	LOC = "g19"  | IOSTANDARD = LVCMOS33;
NET LEDS<15>	LOC = "f19"  | IOSTANDARD = LVCMOS33;
NET MONITOR<0>		LOC = "L26" | IOSTANDARD = LVCMOS25;
NET MONITOR<1>		LOC = "K26" | IOSTANDARD = LVCMOS25;
NET MONITOR<2>		LOC = "J25" | IOSTANDARD = LVCMOS25;
NET MONITOR<3>		LOC = "J26" | IOSTANDARD = LVCMOS25;
NET MONITOR<4>		LOC = "H26" | IOSTANDARD = LVCMOS25;
NET MONITOR<5>		LOC = "G25" | IOSTANDARD = LVCMOS25;
NET MONITOR<6>		LOC = "G26" | IOSTANDARD = LVCMOS25;
NET MONITOR<7>		LOC = "F26" | IOSTANDARD = LVCMOS25;
NET MONITOR<8>		LOC = "E25" | IOSTANDARD = LVCMOS25;
NET MONITOR<9>		LOC = "E26" | IOSTANDARD = LVCMOS25;
NET MONITOR<10>	LOC = "D26" | IOSTANDARD = LVCMOS25;
NET MONITOR<11>	LOC = "C25" | IOSTANDARD = LVCMOS25;
NET MONITOR<12>	LOC = "C26" | IOSTANDARD = LVCMOS25;
NET MONITOR<13>	LOC = "B25" | IOSTANDARD = LVCMOS25;
NET MONITOR<14>	LOC = "B26" | IOSTANDARD = LVCMOS25;
NET MONITOR<15>	LOC = "A25" | IOSTANDARD = LVCMOS25;

#USB Pins
NET IFCLK      	LOC = "g12"  | IOSTANDARD = LVCMOS33  |  CLOCK_DEDICATED_ROUTE = FALSE;
NET CLKOUT     	LOC = "e10"  | IOSTANDARD = LVCMOS33;
NET FD<0>			LOC = "f5"   | IOSTANDARD = LVCMOS33;
NET FD<1>			LOC = "e6"   | IOSTANDARD = LVCMOS33;
NET FD<2>			LOC = "e5"   | IOSTANDARD = LVCMOS33;
NET FD<3>			LOC = "h9"   | IOSTANDARD = LVCMOS33;
NET FD<4>			LOC = "g9"   | IOSTANDARD = LVCMOS33;
NET FD<5>			LOC = "a3"   | IOSTANDARD = LVCMOS33;
NET FD<6>			LOC = "a2"   | IOSTANDARD = LVCMOS33;
NET FD<7>			LOC = "f9"   | IOSTANDARD = LVCMOS33;
NET FD<8>			LOC = "e8"   | IOSTANDARD = LVCMOS33;
NET FD<9>			LOC = "d5"   | IOSTANDARD = LVCMOS33;
NET FD<10>			LOC = "c5"   | IOSTANDARD = LVCMOS33;
NET FD<11>			LOC = "h10"  | IOSTANDARD = LVCMOS33;
NET FD<12>			LOC = "g10"  | IOSTANDARD = LVCMOS33;
NET FD<13>			LOC = "b4"   | IOSTANDARD = LVCMOS33;
NET FD<14>			LOC = "a4"   | IOSTANDARD = LVCMOS33;
NET FD<15>			LOC = "f10"  | IOSTANDARD = LVCMOS33;
NET PA0        	LOC = "f7"   | IOSTANDARD = LVCMOS33;
NET PA1        	LOC = "h8"   | IOSTANDARD = LVCMOS33;
NET PA2        	LOC = "g8"   | IOSTANDARD = LVCMOS33;
NET PA3        	LOC = "f7"   | IOSTANDARD = LVCMOS33;
NET PA4        	LOC = "f6"   | IOSTANDARD = LVCMOS33;
NET PA5        	LOC = "c3"   | IOSTANDARD = LVCMOS33;
NET PA6        	LOC = "b3"   | IOSTANDARD = LVCMOS33;
NET PA7        	LOC = "g6"   | IOSTANDARD = LVCMOS33;
NET CTL0       	LOC = "f12"  | IOSTANDARD = LVCMOS33;
NET CTL1       	LOC = "e12"  | IOSTANDARD = LVCMOS33;
NET CTL2       	LOC = "j11"  | IOSTANDARD = LVCMOS33;
NET RDY0       	LOC = "g11"  | IOSTANDARD = LVCMOS33;
NET RDY1       	LOC = "h12"  | IOSTANDARD = LVCMOS33;
NET WAKEUP     	LOC = "f11"  | IOSTANDARD = LVCMOS33;

#Unsorted?  Not really an ASIC pin but still applicable...
NET ASIC_CARRIER1_CAL_OUT LOC = "AA15";

#Vast list of ASIC inputs and outputs
NET	AsicIn_DATA_BUS_CHANNEL_ADDRESS<0>		LOC = 	W19;	#CH_SEL0
NET	AsicIn_DATA_BUS_CHANNEL_ADDRESS<1>		LOC = 	V18;	#CH_SEL1
NET	AsicIn_DATA_BUS_CHANNEL_ADDRESS<2>		LOC = 	AC22;	#CH_SEL2
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<0>		LOC = 	Y20;	#SMPL_SEL0
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<1>		LOC = 	AA22;	#SMPL_SEL1
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<2>		LOC = 	P26;	#SMPL_SEL2
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<3>		LOC = 	R25;	#SMPL_SEL3
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<4>		LOC = 	U23;	#SMPL_SEL4
NET	AsicIn_DATA_BUS_SAMPLE_ADDRESS<5>		LOC = 	V26;	#SMPL_SEL5
NET	AsicIn_DATA_BUS_OUTPUT_ENABLE				LOC = 	W18;	#SMPL_SEL_ALL
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R0_C0		LOC = 	P1;	#DBUS_A_SDC0
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R0_C1		LOC = 	J3;	#DBUS_B_SDC4
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R0_C2		LOC = 	L7;	#DBUS_C_SDC9
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R0_C3		LOC = 	K21;	#DBUS_D_SDC13
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R1_C0		LOC = 	R1;	#DBUS_A_SDC1
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R1_C1		LOC = 	J5;	#DBUS_B_SDC5
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R1_C2		LOC = 	M6;	#DBUS_C_SDC10
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R1_C3		LOC = 	H20;	#DBUS_D_SDC14
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R2_C0		LOC = 	R2;	#DBUS_A_SDC2
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R2_C1		LOC = 	K5;	#DBUS_B_SDC6
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R2_C2		LOC = 	N6;	#DBUS_C_SDC11
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R2_C3		LOC = 	G20;	#DBUS_D_SDC15
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R3_C0		LOC = 	T1;	#DBUS_A_SDC3
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R3_C1		LOC = 	L4;	#DBUS_B_SDC7
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R3_C2		LOC = 	N8;	#DBUS_C_SDC12
NET	AsicIn_DATA_BUS_OUTPUT_DISABLE_R3_C3		LOC = 	R19;	#DBUS_D_SDC16
NET	AsicIn_MONITOR_TRIG							LOC = 	B24;	#TRIG_IN
NET	AsicIn_MONITOR_WILK_COUNTER_RESET		LOC = 	AB17;	#TST_CLEAR
NET	AsicIn_MONITOR_WILK_COUNTER_START		LOC = 	AA16;	#TST_START
NET	AsicIn_SAMPLING_HOLD_MODE_C0				LOC = 	W8;	#SST_IN_A
NET	AsicIn_SAMPLING_HOLD_MODE_C1				LOC = 	AE2;	#SST_IN_B
NET	AsicIn_SAMPLING_HOLD_MODE_C2				LOC = 	AC3;	#SST_IN_C
NET	AsicIn_SAMPLING_HOLD_MODE_C3				LOC = 	N19;	#SST_IN_D
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<2>	LOC = 	W14;	#WR_ADDR_0  #swapped with pin 2 relative to IRS2 schematic
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<1>	LOC = 	P17;	#WR_ADDR_1
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<0>	LOC = 	AB15;	#WR_ADDR_2  #swapped with pin 0 relative to IRS2 schematic
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<3>	LOC = 	V15;	#WR_ADDR_3
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<4>	LOC = 	Y26;	#WR_ADDR_4
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<5>	LOC = 	W26;	#WR_ADDR_5
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<6>	LOC = 	U24;	#WR_ADDR_6
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<7>	LOC = 	T26;	#WR_ADDR_7
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS<8>	LOC = 	R26;	#WR_ADDR_8
NET	AsicIn_SAMPLING_TO_STORAGE_ADDRESS_ENABLE	LOC = 	AD26;	#WR_ADDR_9
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C0	LOC = 	AA9;	#WR_STRB_A
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C1	LOC = 	W17;	#WR_STRB_B
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C2	LOC = 	J9;	#WR_STRB_C
NET	AsicIn_SAMPLING_TO_STORAGE_TRANSFER_C3	LOC = 	L19;	#WR_STRB_D
NET	AsicIn_SAMPLING_TRACK_MODE_C0				LOC = 	AD4;	#SSP_IN_A
NET	AsicIn_SAMPLING_TRACK_MODE_C1				LOC = 	AE1;	#SSP_IN_B
NET	AsicIn_SAMPLING_TRACK_MODE_C2				LOC = 	AB4;	#SSP_IN_C
NET	AsicIn_SAMPLING_TRACK_MODE_C3				LOC = 	P19;	#SSP_IN_D
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<2>		LOC = 	Y16;	#RD_ADDR_0  #swapped with pin 2 relative to IRS2 schematic
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<1>		LOC = 	AB19;	#RD_ADDR_1
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<0>		LOC = 	V16;	#RD_ADDR_2  #swapped with pin 0 relative to IRS2 schematic
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<3>		LOC = 	AA17;	#RD_ADDR_3
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<4>		LOC = 	AC25;	#RD_ADDR_4
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<5>		LOC = 	AA26;	#RD_ADDR_5
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<6>		LOC = 	AE26;	#RD_ADDR_6
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<7>		LOC = 	AC26;	#RD_ADDR_7
NET	AsicIn_STORAGE_TO_WILK_ADDRESS<8>		LOC = 	AB26;	#RD_ADDR_8
NET	AsicIn_STORAGE_TO_WILK_ADDRESS_ENABLE	LOC = 	AA25;	#RD_ADDR_9
NET	AsicIn_STORAGE_TO_WILK_ENABLE				LOC = 	AB21;	#RD_ENA
NET	AsicIn_TRIG_ON_RISING_EDGE					LOC = 	AE25;	#TRG_SGN
NET	AsicIn_WILK_COUNTER_RESET					LOC = 	W25;	#TDC_CLR
NET	AsicIn_WILK_COUNTER_START_C0				LOC = 	AA12;	#TDC_START_A
NET	AsicIn_WILK_COUNTER_START_C1				LOC = 	Y21;	#TDC_START_B
NET	AsicIn_WILK_COUNTER_START_C2				LOC = 	T9;	#TDC_START_C
NET	AsicIn_WILK_COUNTER_START_C3				LOC = 	L24;	#TDC_START_D
NET	AsicIn_WILK_RAMP_ACTIVE						LOC = 	U13;	#RAMP
NET	AsicOut_DATA_BUS_C0<0>						LOC = 	U1;	#DAT0_A
NET	AsicOut_DATA_BUS_C0<1>						LOC = 	U2;	#DAT1_A
NET	AsicOut_DATA_BUS_C0<2>						LOC = 	V1;	#DAT2_A
NET	AsicOut_DATA_BUS_C0<3>						LOC = 	W1;	#DAT3_A
NET	AsicOut_DATA_BUS_C0<4>						LOC = 	W2;	#DAT4_A
NET	AsicOut_DATA_BUS_C0<5>						LOC = 	Y1;	#DAT5_A
NET	AsicOut_DATA_BUS_C0<6>						LOC = 	AA1;	#DAT6_A
NET	AsicOut_DATA_BUS_C0<7>						LOC = 	AA2;	#DAT7_A
NET	AsicOut_DATA_BUS_C0<8>						LOC = 	AB1;	#DAT8_A
NET	AsicOut_DATA_BUS_C0<9>						LOC = 	AC1;	#DAT9_A
NET	AsicOut_DATA_BUS_C0<10>						LOC = 	AC2;	#DAT10_A
NET	AsicOut_DATA_BUS_C0<11>						LOC = 	AD1;	#DAT11_A
NET	AsicOut_DATA_BUS_C1<0>						LOC = 	M4;	#DAT0_B
NET	AsicOut_DATA_BUS_C1<1>						LOC = 	N4;	#DAT1_B
NET	AsicOut_DATA_BUS_C1<2>						LOC = 	P3;	#DAT2_B
NET	AsicOut_DATA_BUS_C1<3>						LOC = 	R3;	#DAT3_B
NET	AsicOut_DATA_BUS_C1<4>						LOC = 	R5;	#DAT4_B
NET	AsicOut_DATA_BUS_C1<5>						LOC = 	T4;	#DAT5_B
NET	AsicOut_DATA_BUS_C1<6>						LOC = 	U4;	#DAT6_B
NET	AsicOut_DATA_BUS_C1<7>						LOC = 	V3;	#DAT7_B
NET	AsicOut_DATA_BUS_C1<8>						LOC = 	V5;	#DAT8_B
NET	AsicOut_DATA_BUS_C1<9>						LOC = 	W5;	#DAT9_B
NET	AsicOut_DATA_BUS_C1<10>						LOC = 	Y5;	#DAT10_B
NET	AsicOut_DATA_BUS_C1<11>						LOC = 	AA4;	#DAT11_B
NET	AsicOut_DATA_BUS_C2<0>						LOC = 	P8;	#DAT0_C
NET	AsicOut_DATA_BUS_C2<1>						LOC = 	R7;	#DAT1_C
NET	AsicOut_DATA_BUS_C2<2>						LOC = 	T6;	#DAT2_C
NET	AsicOut_DATA_BUS_C2<3>						LOC = 	U7;	#DAT3_C
NET	AsicOut_DATA_BUS_C2<4>						LOC = 	V6;	#DAT4_C
NET	AsicOut_DATA_BUS_C2<5>						LOC = 	Y6;	#DAT5_C
NET	AsicOut_DATA_BUS_C2<6>						LOC = 	K9;	#DAT6_C
NET	AsicOut_DATA_BUS_C2<7>						LOC = 	V20;	#DAT7_C
NET	AsicOut_DATA_BUS_C2<8>						LOC = 	U19;	#DAT8_C
NET	AsicOut_DATA_BUS_C2<9>						LOC = 	U21;	#DAT9_C
NET	AsicOut_DATA_BUS_C2<10>						LOC = 	T20;	#DAT10_C
NET	AsicOut_DATA_BUS_C2<11>						LOC = 	R20;	#DAT11_C
NET	AsicOut_DATA_BUS_C3<0>						LOC = 	N24;	#DAT0_D
NET	AsicOut_DATA_BUS_C3<1>						LOC = 	N22;	#DAT1_D
NET	AsicOut_DATA_BUS_C3<2>						LOC = 	P22;	#DAT2_D
NET	AsicOut_DATA_BUS_C3<3>						LOC = 	R23;	#DAT3_D
NET	AsicOut_DATA_BUS_C3<4>						LOC = 	T23;	#DAT4_D
NET	AsicOut_DATA_BUS_C3<5>						LOC = 	N17;	#DAT5_D
NET	AsicOut_DATA_BUS_C3<6>						LOC = 	U22;	#DAT6_D
NET	AsicOut_DATA_BUS_C3<7>						LOC = 	V23;	#DAT7_D
NET	AsicOut_DATA_BUS_C3<8>						LOC = 	Y24;	#DAT8_D
NET	AsicOut_DATA_BUS_C3<9>						LOC = 	AA23;	#DAT9_D
NET	AsicOut_DATA_BUS_C3<10>						LOC = 	AC24;	#DAT10_D
NET	AsicOut_DATA_BUS_C3<11>						LOC = 	AD24;	#DAT11_D
NET	AsicOut_MONITOR_TRIG_R0_C0					LOC = 	AE5;	#TRIG_MON_DC0
NET	AsicOut_MONITOR_TRIG_R0_C1					LOC = 	M1;	#TRIG_MON_DC1
NET	AsicOut_MONITOR_TRIG_R0_C2					LOC = 	J7;	#TRIG_MON_DC2
NET	AsicOut_MONITOR_TRIG_R0_C3					LOC = 	D23;	#TRIG_MON_DC3
NET	AsicOut_MONITOR_TRIG_R1_C0					LOC = 	AF6;	#TRIG_MON_DC4
NET	AsicOut_MONITOR_TRIG_R1_C1					LOC = 	L2;	#TRIG_MON_DC5
NET	AsicOut_MONITOR_TRIG_R1_C2					LOC = 	K7;	#TRIG_MON_DC6
NET	AsicOut_MONITOR_TRIG_R1_C3					LOC = 	N25;	#TRIG_MON_DC7
NET	AsicOut_MONITOR_TRIG_R2_C0					LOC = 	AD6;	#TRIG_MON_DC8
NET	AsicOut_MONITOR_TRIG_R2_C1					LOC = 	L1;	#TRIG_MON_DC9
NET	AsicOut_MONITOR_TRIG_R2_C2					LOC = 	L6;	#TRIG_MON_DC10
NET	AsicOut_MONITOR_TRIG_R2_C3					LOC = 	N26;	#TRIG_MON_DC11
NET	AsicOut_MONITOR_TRIG_R3_C0					LOC = 	AA10;	#TRIG_MON_DC12
NET	AsicOut_MONITOR_TRIG_R3_C1					LOC = 	K1;	#TRIG_MON_DC13
NET	AsicOut_MONITOR_TRIG_R3_C2					LOC = 	L8;	#TRIG_MON_DC14
NET	AsicOut_MONITOR_TRIG_R3_C3					LOC = 	C24;	#TRIG_MON_DC15
NET	AsicOut_MONITOR_WILK_COUNTER_R0_C0		LOC = 	V11;	#TST_OUT_DC0
NET	AsicOut_MONITOR_WILK_COUNTER_R0_C1		LOC = 	W20;	#TST_OUT_DC1
NET	AsicOut_MONITOR_WILK_COUNTER_R0_C2		LOC = 	L9;	#TST_OUT_DC2
NET	AsicOut_MONITOR_WILK_COUNTER_R0_C3		LOC = 	H21;	#TST_OUT_DC3
NET	AsicOut_MONITOR_WILK_COUNTER_R1_C0		LOC = 	Y11;	#TST_OUT_DC4
NET	AsicOut_MONITOR_WILK_COUNTER_R1_C1		LOC = 	AB22;	#TST_OUT_DC5
NET	AsicOut_MONITOR_WILK_COUNTER_R1_C2		LOC = 	M9;	#TST_OUT_DC6
NET	AsicOut_MONITOR_WILK_COUNTER_R1_C3		LOC = 	J20;	#TST_OUT_DC7
NET	AsicOut_MONITOR_WILK_COUNTER_R2_C0		LOC = 	AB13;	#TST_OUT_DC8
NET	AsicOut_MONITOR_WILK_COUNTER_R2_C1		LOC = 	AF23;	#TST_OUT_DC9
NET	AsicOut_MONITOR_WILK_COUNTER_R2_C2		LOC = 	N9;	#TST_OUT_DC10
NET	AsicOut_MONITOR_WILK_COUNTER_R2_C3		LOC = 	K20;	#TST_OUT_DC11
NET	AsicOut_MONITOR_WILK_COUNTER_R3_C0		LOC = 	V12;	#TST_OUT_DC12
NET	AsicOut_MONITOR_WILK_COUNTER_R3_C1		LOC = 	AF22;	#TST_OUT_DC13
NET	AsicOut_MONITOR_WILK_COUNTER_R3_C2		LOC = 	R9;	#TST_OUT_DC14
NET	AsicOut_MONITOR_WILK_COUNTER_R3_C3		LOC = 	L21;	#TST_OUT_DC15
NET	AsicOut_SAMPLING_TRACK_MODE_R0_C0		LOC = 	AC5;	#SSP_OUT_DC0
NET	AsicOut_SAMPLING_TRACK_MODE_R0_C1		LOC = 	D3;	#SSP_OUT_DC1
NET	AsicOut_SAMPLING_TRACK_MODE_R0_C2		LOC = 	AD3;	#SSP_OUT_DC2
NET	AsicOut_SAMPLING_TRACK_MODE_R0_C3		LOC = 	N21;	#SSP_OUT_DC3
NET	AsicOut_SAMPLING_TRACK_MODE_R1_C0		LOC = 	AF3;	#SSP_OUT_DC4
NET	AsicOut_SAMPLING_TRACK_MODE_R1_C1		LOC = 	E4;	#SSP_OUT_DC5
NET	AsicOut_SAMPLING_TRACK_MODE_R1_C2		LOC = 	H6;	#SSP_OUT_DC6
NET	AsicOut_SAMPLING_TRACK_MODE_R1_C3		LOC = 	M21;	#SSP_OUT_DC7
NET	AsicOut_SAMPLING_TRACK_MODE_R2_C0		LOC = 	AF4;	#SSP_OUT_DC8
NET	AsicOut_SAMPLING_TRACK_MODE_R2_C1		LOC = 	G3;	#SSP_OUT_DC9
NET	AsicOut_SAMPLING_TRACK_MODE_R2_C2		LOC = 	K6;	#SSP_OUT_DC10
NET	AsicOut_SAMPLING_TRACK_MODE_R2_C3		LOC = 	L20;	#SSP_OUT_DC11
NET	AsicOut_SAMPLING_TRACK_MODE_R3_C0		LOC = 	AF5;	#SSP_OUT_DC12
NET	AsicOut_SAMPLING_TRACK_MODE_R3_C1		LOC = 	H3;	#SSP_OUT_DC13
NET	AsicOut_SAMPLING_TRACK_MODE_R3_C2		LOC = 	K8;	#SSP_OUT_DC14
NET	AsicOut_SAMPLING_TRACK_MODE_R3_C3		LOC = 	K19;	#SSP_OUT_DC15
NET	AsicOut_TRIG_OUTPUT_R0_C0<0>	LOC = 	F1;	#TRG_DC0_CH0
NET	AsicOut_TRIG_OUTPUT_R0_C0<1>	LOC = 	D1;	#TRG_DC0_CH1
NET	AsicOut_TRIG_OUTPUT_R0_C0<2>	LOC = 	AA7;	#TRG_DC0_CH2
NET	AsicOut_TRIG_OUTPUT_R0_C0<3>	LOC = 	AB7;	#TRG_DC0_CH3
NET	AsicOut_TRIG_OUTPUT_R0_C0<4>	LOC = 	W10;	#TRG_DC0_CH4
NET	AsicOut_TRIG_OUTPUT_R0_C0<5>	LOC = 	AA11;	#TRG_DC0_CH5
NET	AsicOut_TRIG_OUTPUT_R0_C0<6>	LOC = 	Y12;	#TRG_DC0_CH6
NET	AsicOut_TRIG_OUTPUT_R0_C0<7>	LOC = 	G1;	#TRG_DC0_CH7
NET	AsicOut_TRIG_OUTPUT_R0_C1<0>	LOC = 	F3;	#TRG_DC1_CH0
NET	AsicOut_TRIG_OUTPUT_R0_C1<1>	LOC = 	K3;	#TRG_DC1_CH1
NET	AsicOut_TRIG_OUTPUT_R0_C1<2>	LOC = 	W16;	#TRG_DC1_CH2
NET	AsicOut_TRIG_OUTPUT_R0_C1<3>	LOC = 	AA21;	#TRG_DC1_CH3
NET	AsicOut_TRIG_OUTPUT_R0_C1<4>	LOC = 	N5;	#TRG_DC1_CH4
NET	AsicOut_TRIG_OUTPUT_R0_C1<5>	LOC = 	U3;	#TRG_DC1_CH5
NET	AsicOut_TRIG_OUTPUT_R0_C1<6>	LOC = 	Y3;	#TRG_DC1_CH6
NET	AsicOut_TRIG_OUTPUT_R0_C1<7>	LOC = 	AC4;	#TRG_DC1_CH7
NET	AsicOut_TRIG_OUTPUT_R0_C2<0>	LOC = 	A25;	#TRG_DC2_CH0
NET	AsicOut_TRIG_OUTPUT_R0_C2<1>	LOC = 	C25;	#TRG_DC2_CH1
NET	AsicOut_TRIG_OUTPUT_R0_C2<2>	LOC = 	M8;	#TRG_DC2_CH2
NET	AsicOut_TRIG_OUTPUT_R0_C2<3>	LOC = 	R8;	#TRG_DC2_CH3
NET	AsicOut_TRIG_OUTPUT_R0_C2<4>	LOC = 	F26;	#TRG_DC2_CH4
NET	AsicOut_TRIG_OUTPUT_R0_C2<5>	LOC = 	J26;	#TRG_DC2_CH5
NET	AsicOut_TRIG_OUTPUT_R0_C2<6>	LOC = 	U9;	#TRG_DC2_CH6
NET	AsicOut_TRIG_OUTPUT_R0_C2<7>	LOC = 	K18;	#TRG_DC2_CH7
NET	AsicOut_TRIG_OUTPUT_R0_C3<0>	LOC = 	H24;	#TRG_DC3_CH0
NET	AsicOut_TRIG_OUTPUT_R0_C3<1>	LOC = 	K24;	#TRG_DC3_CH1
NET	AsicOut_TRIG_OUTPUT_R0_C3<2>	LOC = 	F22;	#TRG_DC3_CH2
NET	AsicOut_TRIG_OUTPUT_R0_C3<3>	LOC = 	M19;	#TRG_DC3_CH3
NET	AsicOut_TRIG_OUTPUT_R0_C3<4>	LOC = 	M24;	#TRG_DC3_CH4
NET	AsicOut_TRIG_OUTPUT_R0_C3<5>	LOC = 	P24;	#TRG_DC3_CH5
NET	AsicOut_TRIG_OUTPUT_R0_C3<6>	LOC = 	V24;	#TRG_DC3_CH6
NET	AsicOut_TRIG_OUTPUT_R0_C3<7>	LOC = 	AC23;	#TRG_DC3_CH7
NET	AsicOut_TRIG_OUTPUT_R1_C0<0>	LOC = 	E1;	#TRG_DC4_CH0
NET	AsicOut_TRIG_OUTPUT_R1_C0<1>	LOC = 	B2;	#TRG_DC4_CH1
NET	AsicOut_TRIG_OUTPUT_R1_C0<2>	LOC = 	W7;	#TRG_DC4_CH2
NET	AsicOut_TRIG_OUTPUT_R1_C0<3>	LOC = 	AA8;	#TRG_DC4_CH3
NET	AsicOut_TRIG_OUTPUT_R1_C0<4>	LOC = 	AB11;	#TRG_DC4_CH4
NET	AsicOut_TRIG_OUTPUT_R1_C0<5>	LOC = 	AA13;	#TRG_DC4_CH5
NET	AsicOut_TRIG_OUTPUT_R1_C0<6>	LOC = 	V13;	#TRG_DC4_CH6
NET	AsicOut_TRIG_OUTPUT_R1_C0<7>	LOC = 	G2;	#TRG_DC4_CH7
NET	AsicOut_TRIG_OUTPUT_R1_C1<0>	LOC = 	E3;	#TRG_DC5_CH0
NET	AsicOut_TRIG_OUTPUT_R1_C1<1>	LOC = 	J4;	#TRG_DC5_CH1
NET	AsicOut_TRIG_OUTPUT_R1_C1<2>	LOC = 	AA18;	#TRG_DC5_CH2
NET	AsicOut_TRIG_OUTPUT_R1_C1<3>	LOC = 	Y17;	#TRG_DC5_CH3
NET	AsicOut_TRIG_OUTPUT_R1_C1<4>	LOC = 	N3;	#TRG_DC5_CH4
NET	AsicOut_TRIG_OUTPUT_R1_C1<5>	LOC = 	T3;	#TRG_DC5_CH5
NET	AsicOut_TRIG_OUTPUT_R1_C1<6>	LOC = 	W3;	#TRG_DC5_CH6
NET	AsicOut_TRIG_OUTPUT_R1_C1<7>	LOC = 	AB5;	#TRG_DC5_CH7
NET	AsicOut_TRIG_OUTPUT_R1_C2<0>	LOC = 	B26;	#TRG_DC6_CH0
NET	AsicOut_TRIG_OUTPUT_R1_C2<1>	LOC = 	D26;	#TRG_DC6_CH1
NET	AsicOut_TRIG_OUTPUT_R1_C2<2>	LOC = 	N7;	#TRG_DC6_CH2
NET	AsicOut_TRIG_OUTPUT_R1_C2<3>	LOC = 	T8;	#TRG_DC6_CH3
NET	AsicOut_TRIG_OUTPUT_R1_C2<4>	LOC = 	G26;	#TRG_DC6_CH4
NET	AsicOut_TRIG_OUTPUT_R1_C2<5>	LOC = 	J25;	#TRG_DC6_CH5
NET	AsicOut_TRIG_OUTPUT_R1_C2<6>	LOC = 	R18;	#TRG_DC6_CH6
NET	AsicOut_TRIG_OUTPUT_R1_C2<7>	LOC = 	V21;	#TRG_DC6_CH7
NET	AsicOut_TRIG_OUTPUT_R1_C3<0>	LOC = 	G24;	#TRG_DC7_CH0
NET	AsicOut_TRIG_OUTPUT_R1_C3<1>	LOC = 	J23;	#TRG_DC7_CH1
NET	AsicOut_TRIG_OUTPUT_R1_C3<2>	LOC = 	F24;	#TRG_DC7_CH2
NET	AsicOut_TRIG_OUTPUT_R1_C3<3>	LOC = 	N20;	#TRG_DC7_CH3
NET	AsicOut_TRIG_OUTPUT_R1_C3<4>	LOC = 	K22;	#TRG_DC7_CH4
NET	AsicOut_TRIG_OUTPUT_R1_C3<5>	LOC = 	N23;	#TRG_DC7_CH5
NET	AsicOut_TRIG_OUTPUT_R1_C3<6>	LOC = 	T22;	#TRG_DC7_CH6
NET	AsicOut_TRIG_OUTPUT_R1_C3<7>	LOC = 	AB24;	#TRG_DC7_CH7
NET	AsicOut_TRIG_OUTPUT_R2_C0<0>	LOC = 	C1;	#TRG_DC8_CH0
NET	AsicOut_TRIG_OUTPUT_R2_C0<1>	LOC = 	E2;	#TRG_DC8_CH1
NET	AsicOut_TRIG_OUTPUT_R2_C0<2>	LOC = 	AD5;	#TRG_DC8_CH2
NET	AsicOut_TRIG_OUTPUT_R2_C0<3>	LOC = 	Y9;	#TRG_DC8_CH3
NET	AsicOut_TRIG_OUTPUT_R2_C0<4>	LOC = 	AB9;	#TRG_DC8_CH4
NET	AsicOut_TRIG_OUTPUT_R2_C0<5>	LOC = 	W12;	#TRG_DC8_CH5
NET	AsicOut_TRIG_OUTPUT_R2_C0<6>	LOC = 	AA6;	#TRG_DC8_CH6
NET	AsicOut_TRIG_OUTPUT_R2_C0<7>	LOC = 	H1;	#TRG_DC8_CH7
NET	AsicOut_TRIG_OUTPUT_R2_C1<0>	LOC = 	N2;	#TRG_DC9_CH0
NET	AsicOut_TRIG_OUTPUT_R2_C1<1>	LOC = 	H5;	#TRG_DC9_CH1
NET	AsicOut_TRIG_OUTPUT_R2_C1<2>	LOC = 	Y15;	#TRG_DC9_CH2
NET	AsicOut_TRIG_OUTPUT_R2_C1<3>	LOC = 	U15;	#TRG_DC9_CH3
NET	AsicOut_TRIG_OUTPUT_R2_C1<4>	LOC = 	M3;	#TRG_DC9_CH4
NET	AsicOut_TRIG_OUTPUT_R2_C1<5>	LOC = 	R4;	#TRG_DC9_CH5
NET	AsicOut_TRIG_OUTPUT_R2_C1<6>	LOC = 	V4;	#TRG_DC9_CH6
NET	AsicOut_TRIG_OUTPUT_R2_C1<7>	LOC = 	AB3;	#TRG_DC9_CH7
NET	AsicOut_TRIG_OUTPUT_R2_C2<0>	LOC = 	B25;	#TRG_DC10_CH0
NET	AsicOut_TRIG_OUTPUT_R2_C2<1>	LOC = 	E26;	#TRG_DC10_CH1
NET	AsicOut_TRIG_OUTPUT_R2_C2<2>	LOC = 	P6;	#TRG_DC10_CH2
NET	AsicOut_TRIG_OUTPUT_R2_C2<3>	LOC = 	U8;	#TRG_DC10_CH3
NET	AsicOut_TRIG_OUTPUT_R2_C2<4>	LOC = 	G25;	#TRG_DC10_CH4
NET	AsicOut_TRIG_OUTPUT_R2_C2<5>	LOC = 	K26;	#TRG_DC10_CH5
NET	AsicOut_TRIG_OUTPUT_R2_C2<6>	LOC = 	L25;	#TRG_DC10_CH6
NET	AsicOut_TRIG_OUTPUT_R2_C2<7>	LOC = 	U20;	#TRG_DC10_CH7
NET	AsicOut_TRIG_OUTPUT_R2_C3<0>	LOC = 	F23;	#TRG_DC11_CH0
NET	AsicOut_TRIG_OUTPUT_R2_C3<1>	LOC = 	H22;	#TRG_DC11_CH1
NET	AsicOut_TRIG_OUTPUT_R2_C3<2>	LOC = 	E24;	#TRG_DC11_CH2
NET	AsicOut_TRIG_OUTPUT_R2_C3<3>	LOC = 	P21;	#TRG_DC11_CH3
NET	AsicOut_TRIG_OUTPUT_R2_C3<4>	LOC = 	J22;	#TRG_DC11_CH4
NET	AsicOut_TRIG_OUTPUT_R2_C3<5>	LOC = 	M23;	#TRG_DC11_CH5
NET	AsicOut_TRIG_OUTPUT_R2_C3<6>	LOC = 	T24;	#TRG_DC11_CH6
NET	AsicOut_TRIG_OUTPUT_R2_C3<7>	LOC = 	AA24;	#TRG_DC11_CH7
NET	AsicOut_TRIG_OUTPUT_R3_C0<0>	LOC = 	C2;	#TRG_DC12_CH0
NET	AsicOut_TRIG_OUTPUT_R3_C0<1>	LOC = 	B1;	#TRG_DC12_CH1
NET	AsicOut_TRIG_OUTPUT_R3_C0<2>	LOC = 	AC6;	#TRG_DC12_CH2
NET	AsicOut_TRIG_OUTPUT_R3_C0<3>	LOC = 	W9;	#TRG_DC12_CH3
NET	AsicOut_TRIG_OUTPUT_R3_C0<4>	LOC = 	V10;	#TRG_DC12_CH4
NET	AsicOut_TRIG_OUTPUT_R3_C0<5>	LOC = 	Y13;	#TRG_DC12_CH5
NET	AsicOut_TRIG_OUTPUT_R3_C0<6>	LOC = 	P10;	#TRG_DC12_CH6
NET	AsicOut_TRIG_OUTPUT_R3_C0<7>	LOC = 	J1;	#TRG_DC12_CH7
NET	AsicOut_TRIG_OUTPUT_R3_C1<0>	LOC = 	N1;	#TRG_DC13_CH0
NET	AsicOut_TRIG_OUTPUT_R3_C1<1>	LOC = 	G4;	#TRG_DC13_CH1
NET	AsicOut_TRIG_OUTPUT_R3_C1<2>	LOC = 	V14;	#TRG_DC13_CH2
NET	AsicOut_TRIG_OUTPUT_R3_C1<3>	LOC = 	AA19;	#TRG_DC13_CH3
NET	AsicOut_TRIG_OUTPUT_R3_C1<4>	LOC = 	L3;	#TRG_DC13_CH4
NET	AsicOut_TRIG_OUTPUT_R3_C1<5>	LOC = 	P5;	#TRG_DC13_CH5
NET	AsicOut_TRIG_OUTPUT_R3_C1<6>	LOC = 	U5;	#TRG_DC13_CH6
NET	AsicOut_TRIG_OUTPUT_R3_C1<7>	LOC = 	AA3;	#TRG_DC13_CH7
NET	AsicOut_TRIG_OUTPUT_R3_C2<0>	LOC = 	C26;	#TRG_DC14_CH0
NET	AsicOut_TRIG_OUTPUT_R3_C2<1>	LOC = 	E25;	#TRG_DC14_CH1
NET	AsicOut_TRIG_OUTPUT_R3_C2<2>	LOC = 	R6;	#TRG_DC14_CH2
NET	AsicOut_TRIG_OUTPUT_R3_C2<3>	LOC = 	V7;	#TRG_DC14_CH3
NET	AsicOut_TRIG_OUTPUT_R3_C2<4>	LOC = 	H26;	#TRG_DC14_CH4
NET	AsicOut_TRIG_OUTPUT_R3_C2<5>	LOC = 	L26;	#TRG_DC14_CH5
NET	AsicOut_TRIG_OUTPUT_R3_C2<6>	LOC = 	M26;	#TRG_DC14_CH6
NET	AsicOut_TRIG_OUTPUT_R3_C2<7>	LOC = 	T19;	#TRG_DC14_CH7
NET	AsicOut_TRIG_OUTPUT_R3_C3<0>	LOC = 	E23;	#TRG_DC15_CH0
NET	AsicOut_TRIG_OUTPUT_R3_C3<1>	LOC = 	G23;	#TRG_DC15_CH1
NET	AsicOut_TRIG_OUTPUT_R3_C3<2>	LOC = 	D24;	#TRG_DC15_CH2
NET	AsicOut_TRIG_OUTPUT_R3_C3<3>	LOC = 	R21;	#TRG_DC15_CH3
NET	AsicOut_TRIG_OUTPUT_R3_C3<4>	LOC = 	J24;	#TRG_DC15_CH4
NET	AsicOut_TRIG_OUTPUT_R3_C3<5>	LOC = 	L23;	#TRG_DC15_CH5
NET	AsicOut_TRIG_OUTPUT_R3_C3<6>	LOC = 	R24;	#TRG_DC15_CH6
NET	AsicOut_TRIG_OUTPUT_R3_C3<7>	LOC = 	W24;	#TRG_DC15_CH7

#Timing constraints

#NET "single_ASIC_control/internal_TRIGGER" CLOCK_DEDICATED_ROUTE = FALSE;
NET "internal_CLOCK_4NS" TNM_NET = "internal_CLOCK_4NS";
TIMESPEC "TS_internal_CLOCK_4NS" = PERIOD "internal_CLOCK_4NS" 4.0 ns HIGH 50% INPUT_JITTER 20.0ps;